<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/hud.css">
    <meta charset="UTF-8"/>
    <title>HAL - isometric editor</title>
</head>
<body unselectable="on"> 
    <div id="renderspace" class="renderspace" oncontextmenu="return false;">
        <div id="viewport" class="viewport">
                <div id="minimap" class="minimap">
                </div>
                <span class="inplace-notification"></span>
                <canvas id="game" class="game">Not supported</canvas>
        </div>
    </div>
</body>
</html>
