
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/hud.css">
    <link rel="stylesheet" type="text/css" href="css/spinner.css">
    {{#if editor}}
        <link rel="stylesheet" type="text/css" href="css/editor.css">
        <link rel="stylesheet" type="text/css" href="css/flipping-panels.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    {{/if}}
    <meta charset="UTF-8"/>
    <title>Sheikhs of Arabia</title>
</head>
<body unselectable="on"> 
    <div id="renderspace" class="renderspace" oncontextmenu="return false;">
        <div id="viewport" class="viewport">
                <div id="minimap" class="minimap">
                </div>
                <span class="inplace-notification"></span>
                <canvas id="game" class="game">Not supported</canvas>
        </div>
    </div>
</body>
    <script type="text/javascript" src="vendor/requirejs/require.js">
    </script>
    {{#if editor}}
        <script type="text/javascript" src="js/editor/main.js">
        </script>
    {{else}}
        <script type="text/javascript" src="js/soa/main.js">
        </script>
    {{/if}}
</html>
