<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/hud.css">
    <meta charset="UTF-8"/>
    <title>Amjad</title>
</head>
<body unselectable="on"> 
    <div id="renderspace" class="renderspace" oncontextmenu="return false;">
        <div id="viewport" class="viewport">
            
        <!--<div id="minimap" class="minimap">
                </div>
                <span class="inplace-notification"></span>
                 TOP MENU -->
                <!-- <div class="top">
                </div> -->
               <!--  <canvas id="game" class="game">Not supported</canvas> -->
                <!-- BOTTOM MENU -->
        </div>
        <div id="hud" class="hud">
        </div>
    </div>
</body>
    {{! Only needs the Handlebars Runtime, because the exposed templates are precompiled. }}
    <script src="http://rawgithub.com/wycats/handlebars.js/1.0.0/dist/handlebars.runtime.js"></script>
    <script>
        (function () {
            var revive    = Handlebars.template,
                templates = Handlebars.templates = Handlebars.templates || {};

          {{#templates}}
            templates['{{{name}}}'] = revive({{{template}}});
          {{/templates}}
        }());
    </script>
    <script type="text/javascript" src="vendor/requirejs/require.js">
    </script>
    <script type="text/javascript" src="js/soa/main.js">
    </script>
</html>
