<div class="index-body">
	<div class="login-content">
		{{#if success}}
			{{> register/confirmation}}
		{{else}}
			{{> register/default}}
		{{/if}}
		<div class="media-preview-box">
		    <div class="dialog-name">
		        <span>Preview</span>
		    </div>
		</div>
	</div>
</div>
