<div class="register-box">
    <div class="dialog-name">
        <span>Confirmation</span>
    </div>
    <div>
        <span class="validation-message">
            <p>Thank You for registering for Sheiks of Arabia!</p>
            <p>A confirmation mail has been sent to the e-mail you provided.</p>
            <p>Open your e-mail and click on the confirmation link to complete the registration.</p>
        </span>
    </div>
</div>
