<div class="register-box">
    <div class="dialog-name">
        <span>Sign Up</span>
    </div>
    <form method="post" action="register" id="regform"> 
        <span class="register-name">Username:</span>
        <input name="username" id="username" class="register-input" type="text" minlength="5" maxlength="30" value="" required>
        <span class="register-name">First Name:</span>
        <input  name="firstname" id="firstname" class="register-input" type="text" minlength="2" maxlength="50" value="" required>
        <span class="register-name">Family Name:</span>
        <input name="familyname" id="familyname" class="register-input" type="text" minlength="2" maxlength="50" value="" required>
        <span class="register-name">Email:</span>
        <input id="email" name="email" class="register-input" type="email" value="" required>
        <span class="register-name">Verify Email:</span>
        <input id="email-verify" name="email-verify" class="register-input" type="email" value="" required>
        <span class="register-name">Password:</span>
        <input name="password" id="password" class="register-input" type="password" value="" required>
        <span class="register-name">Verify Password:</span>
        <input name="password-verify" id="password-verify" class="register-input" type="password" value="" required>
        <span class="register-name">Civil:</span>
        <input id="faction" class="radio-button" name="faction" type="radio" value="civil">
        <div class="sub-choices disable" id="sub-choices">
            <span class="register-name">Arabian:</span>
            <input id="architecture" checked="checked" class="radio-button" name="architecture" type="radio" value="arabian">
            <span class="register-name">Southern:</span>
            <input id="architecture" class="radio-button" name="architecture" type="radio" value="southern">
        </div>
        <span class="register-name">Bedouin:</span>
        <input id="faction" class="radio-button" name="faction" checked="checked" type="radio" value="bedouin">
        <label for="" class="error validation-message"></label>
        <button class="register-button">REGISTER</button>
        <br />
        <div class="back-button">BACK</div>
    </form>
</div>