<div id={{id}} class="selectable">
    <div class="holder gradient-background">
        <div class="toolbox">
        </div>
        <div class="content">
        </div>
    </div>        
    <div class="title-container">
        <h5 id="title"> {{title}} </h5>
        <div class="title-buttons">
            <i id="toggle-show" class="fa fa-minus-circle"></i>
        </div>
    </div>
</div>