.loader-dialog {
	display: inline-block;
	width: 200px;
	height: auto;
	background-color: #87A2B4;
	margin: auto;
	text-align: left;
	padding: 25px;
	color: white;
    font-family: monospace, serif;
}

.editor-dialog-container {
	position: absolute;
	bottom: 0px;
}

.loader-dialog .stylish-input {
	width: 50%;
	float: right;
	border: 1px solid rgb(177, 177, 177);
	border-radius: 2px;
	color: white;
	background-color: rgba(70, 65, 65, 0.37);
}

.loader-dialog-container {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	text-align: center;
	width: 100%;
	display: block;
	height: 100%;
	position: absolute;
	top: 50%;
	margin-top: -100px;
}

.loader-combobox-container {
	float: right;
	display: inline;
	width: 100%;
}

.tile-delete-btn {
    float: right;
    font-size: 1.9em;
    line-height: 0.8;
    color: red;
    opacity: 0.8;
    margin-left: 10px;
}

.loader-combobox-container .delete-btn {
	float: right;
	font-size: 1.50em;
	line-height: 0.8;
	color: red;
	opacity: 0.8;
	margin-left: 10px;
}

.tile-delete-btn:hover {
    cursor: pointer;
    opacity: 1;
    text-shadow: 0px 1px 1px red;
    /*font-size: 1.35em;*/
}

.delete-btn:hover {
	cursor: pointer;
	opacity: 1;
	text-shadow: 0px 1px 1px red;
	/*font-size: 1.35em;*/
}

.loader-combobox-container .load-btn {
	float: right;
	font-size: 1.25em;
	color: white;
	margin-left: 10px;
}

.loader-combobox-container .load-btn:hover {
	cursor: pointer;
	color: #E3FF17;
	/*font-size: 1.35em;*/
	/*text-shadow: 0px 1px 5px #E3FF17;*/
}

.loader-dialog .flip-btn {
	float: right;
	font-size: 0.7em;
	color: white;
	margin-bottom: 10px;
	/*margin-left: 10px;*/
}

.loader-dialog .flip-btn:hover {
	cursor: pointer;
	color: #E3FF17;
	/*font-size: 1.35em;*/
	/*text-shadow: 0px 1px 5px #E3FF17;*/
}

.loader-combobox {
	float: left;
	border-radius: 2px;
	width: 70%;
	border: 0px;
	color: rgb(71, 65, 61);
	background-color: rgb(241, 243, 234);
	box-shadow: 0 1px 3px rgba(0,0,0,0.9);
}

.loader-load-button {
	margin: 0 auto;
	background-color: rgb(241, 243, 234);
	border: 0px;
	color: rgb(71, 65, 61);
	border-radius: 5px;
	font-family: monospace;
	display: block;
	font-size: 1.5em;
	box-shadow: 0px 1px 5px rgba(241, 243, 234, 0.3);
}

.loader-load-button:hover {
	cursor: pointer;
	box-shadow: 0px 1px 15px #E3FF17;
	/*rgba(241, 243, 234, 0.6);*/
}

.loader-create-new-switch:hover {
 color: #E3FF17;
 cursor: pointer;
}

.gradient-background {
 background: rgb(40,52,59); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(40,52,59,1) 0%, rgba(130,140,149,1) 52%, rgba(181,189,200,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,52,59,1)), color-stop(52%,rgba(130,140,149,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 52%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 52%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 52%,rgba(181,189,200,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 52%,rgba(181,189,200,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */
}

::-webkit-scrollbar {
  width: 8px;
} 

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;

}

::-webkit-scrollbar-corner {
  background-color: black;
}

.marker-buttons {
    position: relative;
}

.marker-buttons .fa {
    position: absolute;
    color: white;
    font-size: 1.2em;
    padding: 5px;
}

.marker-buttons input {
    left: 30px;
    position: absolute;
    display: none;
    background-color: gray;
    color: white;
    /*height: 20px;*/
    top: 3px;
    border: 1px solid white;
}

.title-buttons .fa {
    float: right;
    padding: 5px;
    color: white;
    font-size: 1.2em; 
}

.title-buttons .fa:hover {
    color: #E3FF17;
}

.selectable-box .fa-folder-open {
    /*color: rgb(183, 223, 132);*/
    color: white;
    font-size: 46px;
}

.selectable-box .fa-file:hover {
    color: #E3FF17;
}

.selectable-box .fa-file {
    /*color: rgb(183, 223, 132);*/
    color: white;
    font-size: 46px;
}

.selectable-box .fa-folder-open:hover {
    color: #E3FF17;
}

.toolbox .fa-arrow-circle-left {
    padding: 4px;
    color: white;
    font-size: 1.3em;
}

.toolbox .fa-arrow-circle-left:hover  {
    color: #E3FF17;
}

.selectable {
    display: block;
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 0px;
    margin-left: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.holder {
    width: 300px;
    height: 270px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
    /*background: rgb(125,126,125); /* Old browsers */*/
    /*background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */*/
    /*background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */*/
    /*background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */*/
    /*background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */*/
    /*background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */*/
}

.selectable .content {
    overflow-y: scroll;
    color:white;
    padding:10px;
    font-family: "Gudea", sans-serif;
}

.folder-icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url("../img/folder-icon.png")
}

.back-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url("img/back-icon.png")
}

.folder-icon:hover {
    border: 1px solid white;
}

.selectable {
    float: right;
}

.border-active {
    border: 2px dashed white
}

.selectable h5 {
    font-family: "Gudea", sans-serif;
    background:transparent;
    color:white;
    margin: 0px auto;
    padding: 5px;
    position: absolute;
    z-index: 2;
}

.selectable .title-container {
    background-color: rgb(125,126,125);
    width: inherit;
    height: 30px;
    position: absolute;
    bottom: 0px;
    border: 1px solid white;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
}

.title-container .title-buttons {
    float: right;
    width: inherit;
    height: 30px;
    font-family: "Gudea", sans-serif;
    background: transparent;
    color:white;
    margin: 0px auto;
    position: absolute;
    z-index: 1;
}

.selectable .toolbox {
    float: left;
    height: 30px;
    width: calc(100% - 5px);
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: auto;
    padding-left: 5px;
}

.selectable-box { 
    text-decoration: none; 
    position: relative;
    margin: 3px; 
    list-style: none;
    float: left;
    width: 60px;
    height: 60px;
    font-size: 0.7em; 
}

.selectable-box .selectable-title {
    font-family: "Gudea", sans-serif;
    position: absolute;
    width: inherit;
    height: 25%;
    display: block;
    text-align: center;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectable-box > img:hover {
    border: 1px solid;
}

.content {
    height: 210px;
}

.selectable-box > img { 
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}

.circle {
    font-family: "Gudea", monospace;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 30%;
    position: relative;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5.5px;
}

.circle:hover {
    background-color: #E3FF17;
}

.circle-anim {
    -webkit-animation: spinZ 600ms, changeOpacity 600ms;
}

.circle span {
    font-weight: bold;
    width: inherit;
    height: inherit;
    vertical-align: middle;
    z-index: 1;
    position: absolute;
    color: black;
    text-align: center;
    font-size: inherit;
    line-height: 100%;
}

.keyval > div {
     height: 20px;
     clear: both;
}

.keyval label {
    float: left;
    text-align: right;
    font-size: 0.8em;
    font-family: "Gudea", sans-serif;
}

.keyval input {
    width: 65%;
    float: right;
    border: 0px solid white;
    color: white;
    background-color: gray;
}

.keyval select {
    width: 65%;
    float: right;
    color: white;
    border: 0px solid white;
    background-color: gray;
}

.tileform-button {
    bottom: 35px;
    background: #1B1B20;
    color: #FFF;
    left: 50%;
    margin-left: -35px;
    font-weight: bold;
    border: 1px solid #FFF;
    padding: 0px;
    font-size: 1.1em;
    font-family: Gudea;
    width: 70px;
    position: absolute;
}

/* minigrid styles */
.minigrid {
    position: relative;
    display: table-cell;
    border: 1px solid #fff;
    border-width: 1px 0 0 1px;
    -webkit-transform: scaleY(0.5) rotate(45deg);
}

.minigrid-wrapper {
    display: inline-block;
    float: right;
    padding-top: 5px;
    width: 65% !important;
    /*background-color: white;*/
}

.minigrid div {
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    float: left;
}

.minigrid-active-cell {
    background-color: white;
}

.tile-edit-save-btn {
    float: right;
    margin: auto;
    width: 90px;
    height: 26px;
    bottom: 20px;
}

.tile-edit-cancel-btn {
    float: left;
    margin: auto;
    width: 90px;
    height: 26px;
    bottom: 20px;
}

.editing-bar {
    width: 35px;
    background-color: #060A0A;
    height: auto;
    border-radius: 8px;
    border: 1px solid #FFF;
    right: 5px;
    top: 50%;
    margin-top: -125px;
    position: fixed;
    opacity: 0.9;
}

.editing-bar .fa {
    padding: 7px;
    width: 27px;
    color: white;
    font-size: 1.4em;
}

.editing-bar .fa:hover {
    /*color: #7BF699;*/
    color: #E3FF17 !important;
    font-size: 1.6em;
}

.editing-mode-active {
    color: #E3FF17 !important;
}

.buffer-view {
    background: white;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 19999;
}


.buffer-view td > div {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline;
    margin-right: 1px;
    border: 1px solid black;
}

.buffer-view td {
    margin: 0px;
    line-height: 1px;
    padding: 0px;
}

.buffer-view img {
    /*position: absolute;*/
}

.buttons-holder {
    width: 200px;
    height: 66px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 20px;
}