html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    /*font-family: "Arial", "Helvetica", "Arial",  "Verdana", "sans-serif";*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background-color: #4D5C52;*/
}

.index-body { background: #000 url("../img/index/BG.jpg") no-repeat center center; width: 100%; height: 100%; margin: 0px; background-size: 100%; }
.color-text { color: #d4ae71!important; }
.color-text-2 { color: #d4ae71!important; margin-left: 7px; }

.scrollable .scroll-bar.vertical .thumb { width: 50%!important; }

.post-register-text { color: white; text-align: center; width: 250px; display: block; margin: 40px auto; }

.disable { opacity: 0.3; }

/* REGISTER */

.login-content { position: absolute; width: 961px; height: 647px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
.register-box { background-image: url("../img/index/register-window.png"); position: relative; float: left; width: 301px; height: 404px; margin: 100px 0 0 135px; border: 0px; padding: 0px; }
.register-name { position: relative; float: left; clear: left; width: 102px; font-size: 14px; color: white; margin: 8px 0 0 18px; }
.register-input { background-image: url("../img/index/register-input.png"); position: relative; float: left; width: 160px; height: 18px; font-size: 14px; color: white;  outline: 0; border: 0px; top: -1px; margin-top: 8px; }
.radio-button { position: relative; float: left; margin-top: 10px }

.sub-choices { position: relative; float: left; margin: 0 0 0 115px; display: none; }
.register-button, .back-button {  background-image: url("../img/dialog/trade-station/dugme-neutral.png"); position: relative; font-size: 14px; margin: 0 auto; clear: both; width: 107px; height: 28px; top: 20px; color: white; line-height: 27px; text-align: center; cursor: pointer; outline: 0px; border: 0px; background-color: transparent; display: table; }

.sub-choices .register-name { position: relative; float: left; clear: left; width: 102px; font-size: 14px; color: white; margin: 5px 0 0 18px; }

.media-preview-box { background-image: url("../img/index/preview.png"); position: relative; float: left; width: 343px; height: 400px; margin: 100px 0 0 5px; }
.media-preview { position: relative; margin: 20px auto; auto; width: 500px; }

.validation-message { position: relative; top: 5px; text-align: center; color: #d4ae71; width: 250px; float: left; margin-left: 20px; }


/* LOGIN */

.login-box { background-image: url("../img/index/login-window.png"); position: absolute; width: 300px; height: 270px; margin: auto; border: 0px; padding: 0px; top: 0px; bottom: 0px; left: 0px; right: 0px; }
.check-button { position: relative; float: left; clear: left; margin-left: 121px; }
.remember-me { position: relative; float: left; font-size: 12px; color: white; top: 2px; }
.forgot-user-id { position: relative; float: left; clear: left; margin-left: 18px; font-size: 12px; color: white; top: 10px; }

/* ACTION BOX */

/*.action-box { position: absolute; top: 200px; right: 200px; display: none; }
.action-box-img { margin: auto; top: 0; left: 0; bottom: 0; right: 0; }*/
.action-box { opacity: 0.7; background-image: url("../img/action-box/action-box-bg.png"); position: absolute; top: 200px; right: 400px; width: 200px; height: 200px; }
.action-box-img { position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
.ac-move-to { position: absolute; top: 46px; left: 30px; cursor: pointer; }
.ac-attack { position: absolute; top: 23px; right: 40px; cursor: pointer; }
.ac-spy { position: absolute; bottom: 40px; left: 32px; cursor: pointer; }
.ac-camp { position: absolute; bottom: 38px; right: 28px; cursor: pointer; }

/* DIALOG */


.close-button { background-image: url("../img/dialog/commander/x-button.png"); position: absolute; float: right; right: 8px; top: 0px; width: 26px; height: 22px; cursor: pointer; }
.move-button { margin-top: 10px!important; }
.forge-button { margin-top: 27px!important; position: relative!important; float: left!important; margin-left: 5px!important; }
.no-margin-button { margin-top: 0px!important; }
.favourite-button { background-image: url("../img/dialog/majlis/Untitled-1.png")!important; width: 103px!important; height: 20px!important; margin-top: 12px!important; font-size: 14px!important; line-height: 21px!important; }
.tower-button { margin-top: 10px!important; float: left; margin-left: 74px!important; }
.gmg-button { position: absolute!important; top: -63px!important; left: 287px!important; }

.action-button { cursor: pointer; }
.action-button-left { background-image: url("../img/button-left.png"); float: left; width: 12px; height: 18px; }
.action-button span { background-image: url("../img/button-middle.png"); float: left; height: 18px; line-height: 18px; font-size: 12px; color: #d4ae71; }
.action-button-right { background-image: url("../img/button-right.png"); float: left; width: 12px; height: 18px; }

.action-button-left-r { background-image: url("../img/button-left.png"); float: right; width: 12px; height: 18px; }
.action-button-r span { background-image: url("../img/button-middle.png"); float: right; height: 18px; line-height: 18px; font-size: 12px; color: #d4ae71; }
.action-button-right-r { background-image: url("../img/button-right.png"); float: right; width: 12px; height: 18px; }

.action-button-1 { position: relative; margin: 0 auto; top: -5px; }
.action-button-2 { position: absolute; left: 45px; top: 15px; width: 300%; }
.action-button-3 { position: absolute; left: 57px; top: 40px; width: 300%; }
.action-button-4 { position: absolute; left: 45px; top: 65px; width: 300%; }
.action-button-5 { position: relative; margin: 0 auto; }
.action-button-6 { position: absolute; right: 45px; top: 15px; width: 300%; }
.action-button-7 { position: absolute; right: 57px; top: 40px; width: 300%; }
.action-button-8 { position: absolute; right: 45px; top: 65px; width: 300%; }


/* Battle Report */

.battle-report { background-image: url("../img/dialog/battle-report/battle-report.png"); position: absolute; width: 800px; height: 700px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; z-index: 50;}
.battle-report-content { background-image: url("../img/dialog/battle-report/battle-report-content-bg.png"); position: relative; float: left; width: 760px; height: 617px; margin: 0 0 0 20px; }
.report-tabs { position: relative; float: right; right: 28px; top: 7px; z-index: 1; }
.battle-report-content .dialog-name { margin-top: 14px!important; }
.battle-report .navigation {display: none}
.battle-animation { position: relative; float: left; background-color: rgba(12,0,0,0.5); width: 736px; height: 148px; margin: 3px 0 0 12px; }

.battle-stat-attack { position: relative; float: left; margin-left: 12px; width: 368px; height: 390px; overflow: hidden;}
.battle-stat-def { position: relative; float: left; width: 368px; height: 390px; overflow: hidden;}
.battle-stat-attack span, .battle-stat-def span { position: relative; font-size: 17px; color: white; margin: 4px auto; line-height: 8px; display: table; }

.br-level-icon { position: relative; top: 2px; }
.br-defender-icon { width: 25px; position: relative; top: 5px; }
.br-attacker-icon { width: 25px; position: relative; top: 5px; }
.br-type-img { position: relative; top: 2px; }

.battle-table { position: relative; width: 342px; height: 318px; margin: 10px auto; outline: 2px solid #f3c262; }
.battle-table table { width: 346px; top: -2px; left: -2px; position: relative; }
.battle-table th { height: 48px; font-size: 12px; color: white; font-weight:400; outline: 2px solid #f3c262; }
.battle-table td { font-size: 12px; color: white; text-align: center; outline: 2px solid #f3c262; }
.t30 { width: 28px; }
.t90 { width: 92px; }
.t55 { width: 52px; }
.t230 { width: 27px; position: relative; }
.t230 input { position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
.t150 { width: 150px; }
.t250 { width: 250px; }
.t150 a { color: rgb(0, 204, 0); }
.t170 { width: 170px; }
.t105 { width: 105px; }
.t200 { width: 200px; }
.t100 { width: 100px; }
.t60 { width: 60px; }

.loot-resources { position: relative; float: left; width: 740px; height: 28px; margin: 2px 0 0 10px; }

.battle-report-button { background-image: url("../img/dialog/majlis/button.png"); width: 103px; height: 20px; display: table; position: relative; margin: 0px auto; color: white; cursor: pointer; font-size: 12px; text-align: center; line-height: 20px; top: 5px; }

.navigation { position: relative; top: -8px; margin: 0 auto; display: table; }
.navigation-icons { position: relative; float: left; margin: 3px; cursor: pointer; }
.navigation span { position: relative; float: left; color: white; font-size: 14px; line-height: 19px; margin: 5px; }

.all-reports-content { position: relative; float: left; width: 760px; height: 617px; margin: 0 0 0 20px; display: none; }
.all-reports-delete { background-image: url("../img/dialog/battle-report/all-reports-button.png"); width: 155px; height: 28px; position: relative; margin-top: 27px; float: left; text-align: center; color: white; line-height: 28px; cursor: pointer; clear: left; }
.all-reports-table { background-image: url("../img/dialog/battle-report/all-reports-table.png"); width: 602px; height: 618px; position: relative; float: left; right: -3px; }
.all-reports-table th, .messages-table th, .black-list-table th { height: 48px; font-size: 12px; color: white; font-weight:400; }
.all-reports-table td, .messages-table td, .black-list-table td { font-size: 12px; color: white; text-align: center; padding: 5px 0 5px 0; }
.all-reports-table table, .messages-table table, .black-list-table table { position: relative; margin: 10px; }

.select-div { position: absolute; top: -6px; left: 184px; }
.select-div span { position: relative; float: left; margin-right: 8px; color: white; font-size: 12px; line-height: 19px; }
.select-div div { background-image: url("../img/dialog/battle-report/select-button.png"); width: 51px; height: 16px; position: relative; float: left; color: white; font-size: 12px; text-align: center; line-height: 21px; cursor: pointer; z-index: 1; }

.messages-content { position: relative; float: left; width: 760px; height: 617px; margin: 0 0 0 20px; display: none; }
.messages-table { background-image: url("../img/dialog/battle-report/messages-table.png"); width: 602px; height: 618px; position: relative; float: left; right: -3px; display: none}
.button-wraper { position: relative; float: left; }

.compose-content { position: relative; float: left; width: 760px; height: 617px; margin: 0 0 0 20px; display: none; }
.compose-table { background-image: url("../img/dialog/battle-report/compose-table.png"); width: 602px; height: 618px; position: relative; float: left; right: -3px; }

.compose-table span { position: relative; float: left; clear: left; color: white; font-size: 14px; width: 70px; margin: 20px 0 0 34px; }
.compose-table input { position: relative; float: left; color: white; font-size: 14px; width: 450px; border: 1px solid #ce9546; background-color: rgba(36, 21, 0, 0.6); top: 17px; }
.compose-table textarea { position: relative; float: left; color: white; font-size: 14px; width: 446px; height: 300px; border: 1px solid #ce9546; background-color: rgba(36, 21, 0, 0.6); margin-top: 20px; }

.black-list-content { position: relative; float: left; width: 760px; height: 617px; margin: 0 0 0 20px; display: none; }
.black-list-table { background-image: url("../img/dialog/battle-report/black-list-table.png"); width: 602px; height: 618px; position: relative; float: left; right: -3px; }



/* City Info */

.city-info { background-image: url("../img/dialog/city-info/city-info.png"); position: absolute; width: 450px; height: 399px; z-index: 1;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
.city-info-content { position: relative; float: left; margin: 20px 0 0 32px; width: 387px; height: 288px; }

.city-info-box { position: relative; float: right; }
.city-info-box img { position: relative; float: right; margin: 5px 5px 5px 0; }
.city-info-box span { position: relative; float: right; display: block; outline: 2px solid #f3c262; padding: 5px; font-size: 12px; color: white; text-align: right; margin: 10px 5px 5px 5px; width: 248px; height: 90px; background: rgba(0,0,0,0.3); }

.city-text { position: relative;float: left; height: 16px; font-size: 11px; color: white; line-height: 16px; background: rgba(0,0,0,0.3); margin: 1px; }
.half { width: 127px; }
.city-text img { position: relative; float: left; margin: 3px 5px 0 3px; }
.full { width: 256px; }
.text-info { margin: 0px 0 0 9px; position: relative; float: left; width: 258px; }

.city-buttons { position: relative; float: left; }
.c-button { background-image: url("../img/dialog/city-info/button.png"); position: relative; float: left; text-align: center; clear: left; width: 103px; height: 20px; color: white; line-height: 20px; font-size: 14px; margin: 5px 0 0 7px; cursor: pointer; }

.active-gifts-box { position: relative; float: left; width: 368px; height: 105px; background: rgba(0,0,0,0.3); margin: 10px 0 0 10px; outline: 2px solid #f3c262; }
.active-gifts { background-image: url("../img/dialog/city-info/active-gifts.png"); position: absolute; right: 6px; top: -18px; width: 96px; height: 16px; text-align: center; font-size: 11px; color: white; line-height: 20px; }
.active-gifts-box img { position: relative; float: left; margin: 5px 0px 0px 5px; }

/* Trade */

.trade-station { z-index: 1; background-image: url("../img/dialog/trade-station/trade-station-box1.png"); position: absolute; width: 750px; height: 500px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0;}

.trader-info { position: relative; float: left; display: block; margin-top: 14px; margin: 21px 0 0 31px; width: 370px; }

.dialog-name { position: relative; width: 100%; height: 22px; text-align: center; }
.dialog-name span, .ro-name span { font-size: 14px; color: white!important; line-height: 22px; font-weight: 800;}
.trade-station-name { position: relative; float: left; width: 370px; height: 26px; text-align: center; margin: 2px 0 0 0px; }
.trade-station-name span { font-size: 14px; color: white!important; line-height: 22px; }

.trader { position: relative; float: left; clear: left; width: 104px; height: 155px; text-align: center; margin-left: 16px; }
.trader img { position: relative; top: 15px;  }
.trader-name { position: relative; top: 23px; color: white; font-size: 14px; border: 1px solid #ce9546; outline: 1px solid #f3c262; width: 91px; display: block; margin: 0 auto; background-color: rgba(255, 218, 178, 0.2); -webkit-box-shadow: inset 0 0 7px #302011; -moz-box-shadow: inset 0 0 30px #00f; box-shadow: inset 0 0 5px #47392F; }
.level-name { position: relative; top: 22px; color: white; font-size: 12px; margin-right: 5px }
.level-value { position: relative; top: 22px; color: white; font-size: 12px;  }

.trader .slider-bar-middle { background-image: url("../img/dialog/trade-point/exp-bar.png")!important; width: 106px!important; height: 16px!important; position: absolute!important; top: 297px; left: 148px; }

.trade-goods-own { position: relative; float: left; width: 244px; height: 123px; margin: 6px 0 0 5px; }
.trade-goods-inventory { position: relative; float: left; clear: left; width: 362px; height: 123px; margin: 6px 0 0 5px; }

.trader-good { width: 31px; height: 31px; margin-left: 7px; }

.scrollable .viewport .overview { width: 101%; }

.merchant-slider, .trader-slider { background-image: none!important; width: 92px!important; margin-left: 7px; margin-top: 1px; }

.goods-amount {
    position: absolute;
    color: white;
    bottom: 0px;
    right: 0px;
    font-size: 11px;
    background-color: rgba(0,0,0,0.6);
    width:46px;
    text-align: center;

}

.goods-amount5 {
    position: absolute;
    color: white;
    bottom: -1px;
    right: -1px;
    font-size: 11px;
    background-color: rgba(0,0,0,0.6);
    width:46px;
    text-align: center;
}

.goods-amount2 {
    position: absolute;
    color: white;
    bottom: -3px;
    right: -0px;
    font-size: 11px;
    background-color: rgba(0,0,0,0.6);
    width: 45px;
    text-align: center;
}

.units-amount {
    position: absolute;
    color: white;
    bottom: -4px;
    right: 0px;
    font-size: 11px;
    font-weight: inherit;
    line-height: 12px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
}

.units-amount2 {
    position: absolute;
    color: white;
    bottom: 9px;
    left: 10px;
    font-size: 11px;
    font-weight: inherit;
    line-height: 10px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 49px;
    text-align: center;
}

.troops-amount {
    position: absolute;
    color: white;
    bottom: 0px;
    right: 0px;
    font-size: 11px;
    font-weight: inherit;
    line-height: 10px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
}


.troops-amount2 {
    position: absolute;
    color: white;
    bottom: -9px;
    right: 0px;
    font-size: 11px;
    font-weight: inherit;
    line-height: 10px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
}

.trade-goods-inventory .goods-box {
    width: 45px;
    height: 45px;
    position: relative;
    position: relative;
    float: left;
    margin: 7.5px;
    cursor: pointer;
    z-index: 1;
}

.trade-goods-inventory .goods-box img {
    width: 31px;
    height: 31px;
    margin-left: 7px;
}

.goods-box-clicked {
    background-color: rgba(175, 0, 0, 0.5);
}

.border-thick2 {
    border: 2px solid white;
}

.goods-amount4 {
    position: absolute;
    color: white;
    bottom: -2px;
    font-size: 11px;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    text-align: center;
}

.goods-box4 {
    position: relative;
    float: left;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin: 8px;
}

.load-unload { position: relative; float: left; margin-top: -13px; margin-left: 222px; clear: left; top: -3px; }
.unload { background-image: url("../img/dialog/trade-station/button-unload.png"); position: relative; float: left; margin-right: 6px; width: 20px; height: 20px; cursor: pointer; }
.load { background-image: url("../img/dialog/trade-station/button-load.png"); position: relative; float: left; width: 20px; height: 20px; margin-right: 12px; cursor: pointer; }

.gold-name { position: relative; float: left; margin-top: -32px; text-align: left; width: 103px; left: 4px; }
.gold-name span { font-size: 14px; color: white; margin-right: 5px; }
.gold-amount { position: absolute; margin-top: -23px; left: 276px; width: 83px; float: left; clear: left; top: 344px; }
.gold-amount input { font-size: 14px; color: #ffdc9f; float: left; margin: 2px 0 0 3px; width: 55px; outline: 0px; background: transparent; border: 0px; }
.gold-amount .top-resources { position: relative!important; float: right; margin: 3px 0 0 0px; height: 14px; }

.load-text { position: absolute; top: 320px; left: 11px; width: 84px; text-align: center; }
.load-text span { color: white; font-size: 11px; }
.load-icon { position: relative; float: left; margin: 4px 0 0 4px; }

.available-traders { position: relative; float: left; height: 421px; width: 204px; text-align: center; top: 19px; }
.available-traders-name { font-size: 14px; color: white; line-height: 32px; }

.available-traders-box { position: relative;margin: 0 auto; width: 202px; height: 76px; background-color: rgba(0,0,0,0.5); margin-bottom: 10px; }
.available-traders-box img { position: relative; float: left; margin: 4px 0px 5px 5px; }

.available-trader-info { position: relative; float: left; width: 129px; height: 78px; }
.trader-name-b { position: relative; color: white; font-size: 25px; top: 13px; }
.level-name-b { position: relative; color: white; font-size: 18px; margin-right: 5px; top: 13px; }
.level-value-b { position: relative; color: white; font-size: 18px; top: 13px; }

.trade-building-info { position: relative; float: left; width: 130px; height: 402px; margin: 13px 0 0 6px; }

/*.war-building-info { position: relative; float: right; width: 110px; height: 402px; top: -25px; right: 18px; }
.war-building-info { position: relative; float: right; width: 110px; height: 402px; top: -1px; right: 18px; }*/
.port-building-info { position: relative; float: left; width: 133px; height: 222px; top: 14px; }
.majlis-building-info { position: relative; float: right; width: 115px; height: 222px; top: -5px; right: 15px;}
.tavern-building-info { position: relative; float: left; width: 122px; height: 402px; top: -24px; }



.war-building-info { position: absolute; float: right; width: 110px; top: 55px; right: 23px; }
.home-building-info { position: absolute; float: right; width: 110px; top: 27px; right: 23px; }
.training-building-info { position: absolute; float: right; width: 110px; top: 10px; right: 23px; }


.dialog-building-img { position: relative; display: block; }
.dialog-building-img-2 { position: relative; margin: 0 auto; margin-top: 33px; display: block; width: 92px; height: 73px; }
.dialog-building-img-3 { position: relative; margin: 0 auto; margin-top: 26px; display: block; width: 80px; }
.upgrade-building { background-image: url("../img/dialog/trade-station/dugme-neutral.png"); position: relative; margin: 0 auto; width: 107px; clear: both; height: 28px; margin-top: 45px; color: white; line-height: 27px; font-size: 14px; text-align: center; cursor: pointer; }
.main-building-info { position: relative; float: right; width: auto; height: 402px; top: -30px; margin: 23px 24px 0 0; clear: right; }

.upgrade-price { width: 117px; position: relative; right: 3px; top: 3px; }
.upgrade-price img { width: 15px; position: relative; top: 2px; height: 11px; float: left; }
.upgrade-price span { color: white; font-size: 11px; width: 37px; position: relative; float: left; height: 14px; line-height: 14px; margin: 1px 3px 1px 3px; }

/* Exchange */

.exchange { background-image: url("../img/dialog/exchange/exchange2.png"); position: absolute; width: 270px; height: 180px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; z-index: 1000; }
.exchange-content { position: absolute; width: 219px; height: 145px; margin: auto; top: 35px; left: 0; bottom: 0; right: 0; }

.exchange-item-1 { position: relative; float: left; text-align: center; margin: 0 auto; display: table; }
.exchange-item-2 { position: relative; float: right; text-align: center; margin: 0 auto; display: table; }
.exchange-item-1 span, .exchange-item-2 span { color: white; font-size: 11px; border: 1px solid #ce9546; outline: 1px solid #f3c262; width: 43px; display: block; margin-bottom: 10px; position: relative; }

.exchange-bar-inner-box { position: relative; margin-left: 12px; width: 199px; }
.exchange-bar { background-image: url("../img/dialog/exchange/slider-bar.png"); width: 218px; height: 16px; margin: 0 auto; display: table; clear: both; }
.exchange-min { position: relative; float: left; color: white; font-size: 11px; }
.exchange-max { position: relative; float: right; color: white; font-size: 11px; }

.confirm-button { background-image: url("../img/dialog/commander/upgrade-button.png"); width: 65px; height: 16px; cursor: pointer; position: relative; clear: both; margin: 0 auto; display: table; text-align: center; font-size: 11px; line-height: 15px; color: white; margin-top: 14px; }

/* Home */

.home { background-image: url("../img/dialog/exchange/exchange.png"); position: absolute; width: 366px; height: 278px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; z-index: 1; display: none; }
.home-content { position: absolute; width: 219px; height: 47px; margin: auto; top: -143px; left: 0; bottom: 0; right: 90px; }
.home-content span { position: relative; float: left; font-size: 12px; width: 87px; background: rgba(0,0,0,0.3); color: white; margin: 1px; padding: 2px 0 2px 5px; }
.home-content img { height: 11px; position: relative; top: 2px; }
.home-info-text { width: 181px !important; margin-top: 10px !important; }

/* Tavern */

.tavern { background-image: url("../img/dialog/tavern/tavern-box.png"); position: absolute; width: 600px; height: 600px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; z-index: 2;}

.tavern-tabs { position: relative; float: right; right: 135px; top: 0px; z-index: 1;}
.bars { background-image: url("../img/dialog/tavern/bars.png"); position: absolute;  width: 447px; height: 522px; top: 35px; left: 19px; }
.table-th { position: relative; float: left; width: 422px; height: 22px; margin: 2px 0 0 32px; }
.table-th span { position: relative; float: left; width: 33%; height: 22px; color: white; text-align: center; line-height: 23px; font-size: 12px; }

.tavern-info { overflow-y: hidden; height: 479px!important; margin-top: 1px!important;  }
.tavern-info .overview { width: 98%!important; }
.war-info { overflow-y: hidden; height: 420px!important; overflow-x: hidden; width: 425px!important; margin-top: 1px!important; }
.tavern-info, .war-research-info { position: relative; float: left; width: 433px; height: 475px; margin-top: 7px; margin-left: 32px; }
.agent-commander-info, .war-commander-info { position: relative; float: left; height: 521px; margin-top: 3px; margin-left: 30px; }
.tavern-info table { position: relative; float: left; clear: left; width: 100%; color: white; text-align: center; font-size: 12px; }
.tavern-info td { width: 33.4%; position: relative; top: 1px; }
.tavern-hero-img { position: relative; top: 3px; margin: 0 auto; cursor: pointer; display: table; }
.tavern-hero-table-name { position: relative; margin: 0 auto; top: -10px; }
.tavern-hero-name { position: absolute; top: 50px; right: 85px; }
.statistics { position: relative; margin: 0 auto; margin-right: 5px; }
.employ-button { background-image: url("../img/dialog/trade-station/dugme-neutral.png"); width: 107px; height: 28px; position: relative; float: left; clear: left; text-align: center; color: white; margin-top: 5px; left: 195px; line-height: 27px; cursor: pointer; }

.tr-click-bg { background: rgba(155,36,36,0.3)!important; }

tr:nth-child(even) {background: transparent; }
tr:nth-child(odd) {background: rgba(0,0,0,0.2);}

.science-tab-box:nth-child(even) {background: transparent; }
.science-tab-box:nth-child(odd) {background: rgba(0,0,0,0.2);}

.par:nth-child(even) {background: transparent; }
.par:nth-child(odd) {background: rgba(0,0,0,0.2);}

.nepar:nth-child(odd) {background: transparent; }
.nepar:nth-child(even) {background: rgba(0,0,0,0.2);}

.resources-inner-box:nth-child(even) { width: 184px; left: 2px;}


/* Training */

.training { background-image: url("../img/dialog/training/training-box.png"); position: absolute; width: 650px; height: 550px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; z-index: 1; }
.trainer-statistic { position: relative; float: left; width: 310px; height: 91px; margin: 25px 0px 6px 35px; background-color: rgba(0,0,0,0.4); }
.training-reserve { position: relative; float: left; margin: 3px 3px 3px 3px; cursor: pointer; width: 39px; }
.trainer-avatar { position: relative; float: right; margin: 13px; }

.trainers-name-level { position: relative; display: block; float: left; margin-left: 10px; }
.traniers-name { color: #d4ae71; position: relative; float: left; font-size: 14px;  margin-right: 10px; }
.traniers-level { color: white; position: relative; float: left; font-size: 14px; margin-right: 5px; }
.traniers-level-value { color: white; position: relative; float: left; font-size: 14px;}
.tranier-stat { position: relative; float: left; clear: left; }
.tranier-stat-name { position: relative; float: left; margin-top: 4px; width: 105px; margin-left: -4px; }
.tranier-stat-name span { position: relative; float: left; clear: left; font-size: 12px; width: 100px; padding-left: 5px; margin-top: 1px; margin-bottom: 1px; background: rgba(0,0,0,0.3); color: #d4ae71; }
.tranier-stat-value { position: relative; float: left; margin: 4px 0 0 1px; width: 105px; }
.tranier-stat-value span { position: relative; float: left; clear: left; font-size: 12px; color: white; width: 100px; padding-left: 5px; margin: 1px 0 1px 0; background-color: rgba(0,0,0,0.3); }

.price-name { color: #d4ae71!important; font-size: 14px!important; margin-bottom: 7px!important; }
.br-span { margin-top: 27px!important; }

.training-stats-icon { float: left!important; margin: 0px!important; }

.level-icon { position: relative; float: left; margin-right: 5px; }

.selected-troop-img {  width: 233px; height: 318px;}

.training-troop { position: relative; float: left; clear: right; width: 468px; height: 349px; margin: 0px 0px 0px 31px; }
.selected-troop { position: relative; float: left; width: 234px; height: 322px; }
.selected-troop img { position: absolute; margin: }
.highlight-troop {width: 52px; height: 52px;}
.select-troops { bottom:0px; position: relative; float: right; width: 220px; height: 307px; margin: 7px; }
.select-troops img { cursor: pointer; margin: 4px; }

#other-trainers { position: relative; float: left; width: 145px; height: 91px; margin: 25px 0 0 9px; }

.select-troops-box { position: relative; width: 220px; height: 170px; overflow: hidden; }

.available-unit-info { position: absolute; width: 220px; height: 110px; bottom: 3px; background-color: #563e2c; -webkit-box-shadow: inset 0 0 10px #241700; -moz-box-shadow: inset 0 0 30px #00f; box-shadow: inset 0 0 10px #241700; }
.available-unit-info img { position: relative; float: left; border: 1px solid #ce9546; outline: 1px solid #f3c262; }
.available-unit-name, .war-level-name, .war-level-value  { color: #d4ae71; position: relative; float: left; font-size: 16px;  margin-right: 10px; line-height: 25px; margin-left: 4px; }
.unit-info-box { position: relative; float: left; text-align: center; margin: 12px 12px 0 11px; }


.unit-info-name { position: relative; float: left; }
.unit-info-name2 { position: relative; float: left; margin-left: 27px; }
.unit-info-value { position: relative; float: left; top: 14px; margin-right: 10px; }
.war-unit-info-name span, .war-unit-info-value span { position: relative; float: left; clear: left; color: white; font-size: 11px; }
.unit-info-value span { position: relative; float: left; clear: left; color: white; font-size: 11px; margin: 4px 0 4px -7px; width: 24px; }
.unit-info-name span, .unit-info-name2 span { position: relative; float: left; color: white; font-size: 11px; margin-top: 0px; width: 30px; clear: left; line-height: 10px; border: 1px solid #ce9546; outline: 1px solid #f3c262; background-color: rgba(0,0,0,0.6); }
.unit-info-name .top-resources { float: left; clear: left; height: 14px; margin: 4px 13px 4px 0; }
.tr-firs { margin-top: 27px!important; }

.troop-price { bottom: 4px; position: absolute; float: left; clear: left; height: 25px; text-align: center; border: 1px solid #ce9546; outline: 1px solid #f3c262; width: 233px; display: block; background-color: rgba(48, 32, 17, 0.8); -webkit-box-shadow: inset 0 0 7px #302011; -moz-box-shadow: inset 0 0 30px #00f; box-shadow: inset 0 0 5px #47392F; margin: 0px 0 0 -1px; }
.troop-price span { font-size: 11px; color: white; line-height: 25px; float: left; width: 27px; }
.troop-price .value { margin: 0 10px 0 10px; }

.ver-box { position: absolute; right: 0px; top: -9px; display: block; }
.ver-box span { position: relative; float: right; color: white; padding: 2px; border: 1px solid white; margin: 1px; font-size: 12px; line-height: 12px; cursor: pointer; }

.inner-slider-box { position: relative; height: 16px; width: 291px; margin-left: 13px; }
.inner-slider-box2 { position: relative; height: 16px; width: 80px; margin-left: 7px; top: 3px; }
.slider-amount { position: relative; width: calc(100% - 18px); left: 8px; display: block; margin-top: .poi-good; float: left; }
.troop-slider {  background-image: url("../img/dialog/training/exp-bar.png"); position: relative; float: left;; width: 317px; height: 16px; margin-top: 3px; }
.min-max { position: relative; float: left; color: white; font-size: 12px; line-height: 24px; margin: 0px 5px 0px 5px; }
.troop-amount { position: relative; float: right; border: none; color: white; background-color: rgba(36, 21, 0, 0.6); width: 37px; outline: 0; margin-right: 5px; font-size: 12px; text-align: right; line-height: 15px; border: 1px solid #ce9546; top: -1px; }
.amount-name { position: relative; float: right; color: white; font-size: 14px; line-height: 26px; margin-right: -8px; }
.troop-bar-full { background-image: url("../img/dialog/training/bar-full.png"); width: calc(50% - 7px); height: 6px; position: relative; float: left; top: 4px; left: 4px; }

.train-button-box { background-image: url("../img/dialog/trade-station/dugme-neutral.png"); position: absolute; width: 107px; bottom: 24px; height: 28px; color: white; line-height: 27px; text-align: center; cursor: pointer; left: 205px; font-size: 14px; }
.training .ui-slider-handle {
    background-image: url("../img/dialog/trade-point/exp-slider.png");
    position: absolute;
}

/* Commander */

.commander { background-image: url("../img/dialog/commander/commander.png"); position: absolute; width: 574px; height: 678px; z-index: 2;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.commander-inventory { position: relative; float: left; margin: 2px 0px 0px 37px; width: 258px; height: 327px; clear: left; }
.trader-inventory img { position: relative; float: none; margin: 0 auto; cursor: pointer; z-index: 1; width: 35px; height: 35px; display: table;  }
.commander-troops img, .commander-inventory img { position: relative; float: left; margin: 9.7px; cursor: pointer; z-index: 1; width: 45px; height: 45px; }
.trade-point-inventory img { position: relative; float: left; margin: 8px; cursor: pointer; z-index: 1; }
.trade-point-inventory2 img { position: relative; float: left; cursor: pointer; z-index: 1; }
.trade-point-inventory-a {
    
    background-color: rgba(175, 0, 0, 0.5);
}
.poi-good {
    width: 44px;
    height: 44px;
    position: relative;
    float: left;
    border: 0px;
    margin: 8px;
    cursor: pointer;
}
.poi-good7 {
    width: 44px;
    height: 44px;
    position: relative;
    float: left;
    border: 0px;
    margin: 8px;
    cursor: pointer;
}
/*.trade-goods-own img, .trade-goods-inventory img { position: relative; float: left; margin: 7.7px; cursor: pointer; z-index: 1; }*/
/*.trader-inventory img { top: 8px!important;  }*/

.commander-troops { position: relative; float: left; clear: left; margin: 31px 0px 0px 36px; width: 327px; height: 133px;  }

.attach-agent { position: relative; float: left; margin: 52px 0px 0px 42px; width: 91px; height: 91px; }
.attach-agent img, .trader-img img, .trade-point-avatar img { position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0;  }
.sale-trade-good img { position: absolute; margin: auto; top: 0; left: -8px; bottom: 0; right: 0;  }

.commander-info { position: relative; float: left; width: 245px; height: 90px; margin: 31px 10px 0px 43px; }
.commander-img { position: relative; margin-left: 66px; margin-top: 77px; }

.commander-expirience-name, .commander-level-name, .commander-level-value, .commander-current-expirience, .commander-max-expirience { position: relative; color: white; font-size: 12px; margin: 2px 2px 0 2px; line-height: 15px; background: rgba(0,0,0,0.3); width: 113px; float: left; padding-left: 5px; }

.commander-level-name img { height: 11px; }

.commander-name { position: relative; float: left; margin: 25px 0 0 25px; width: 225px; height: 48px; text-align: center; }
.commander-name span { position: relative; line-height: 50px; font-size: 25px; color: white; }

.commander-equipment { position: relative; float: left; margin: -48px 0 0 21px; width: 230px; height: 353px; }
.equipment-holder { position: absolute; top: 15px; left: 17px; }

.commander-exp-bar-box { position: relative; float: left; width: 230px; height: 24px; margin: 4px 0 0 23px; }
.commander-bar { background-image: url("../img/dialog/commander/commander-exp-bar.png"); position: absolute; margin: auto; left: 0px; right: 0px; top: 0px; bottom: 6px; width: 182px; height: 16px; }
.commander-bar-full { background-image: url("../img/dialog/commander/bar-full-2.png"); width: calc(50% - 7px); height: 2px; position: relative; float: left; top: 9px; left: 8px; }

.equipment-box-b { position: absolute; width: 50px; height: 50px; }
.equipment-box-s { position: absolute; width: 30px; height: 30px; }
.head { top: 15px; left: 92px; }
.back { top: 57px; left: 164px; }
.l-hand { top: 157px; left: 164px; }
.r-hand { top: 126px; left: 19px; }
.torso { top: 101px; left: 92px; }
.legs { top: 194px; left: 92px; }
.boots { top: 274px; left: 92px; }
.neck { top: 64px; left: 102px; }
.l-ring { top: 214px; left: 174px; }
.r-ring { top: 182px; left: 29px; }


.commander-statistics { position: relative; float: right; width: 100%; height: auto; text-align: left; }
.commander-statistics-name { position: relative; color: #d4ae71; font-size: 18px; float: right; }

/* Trader */

.trader-screen { background-image: url("../img/dialog/commander/trader.png"); position: absolute; width: 450px; height: 517px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; z-index: 1; display: none; }
.trader-inventory { position: relative; float: left; margin: 9px 3px 0px 37px; width: 256px; height: 256px; clear: left; }
.trader-inventory-info { position: relative; float: left; clear: left; width: 239px; height: 59px; margin: 16px 0 0 48px; text-align: left; }
.trader-inventory-info span { color: white; font-size: 12px; }

.trader-img { position: relative; float: left; margin: 22px 0px 0px 30px; width: 91px; height: 91px; }
.trader-bar-box { position: relative; float: left; margin: 8px 0px 0px 17px; width: 120px; height: 12px; }
.trader-bar { background-image: url("../img/dialog/commander/exp-bar-2.png"); position: absolute; margin: auto; left: 0px; right: 0px; top: 0px; bottom: 0px; width: 107px; height: 16px; }
.trader-bar-full { background-image: url("../img/dialog/commander/bar-full-2.png"); width: 50%; height: 2px; position: relative; float: left; top: 9px; left: 8px; }

.weight-money { position: relative; float: left; margin: 18px 0px 0px 17px; width: 120px; height: 80px; text-align: center; color: white; font-size: 12px; }


/* Agent */

.agent { background-image: url("../img/dialog/commander/agent.png"); position: absolute; width: 450px; height: 500px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.agent .trader-inventory { position: relative; float: left; margin: 3px 0px 0px 38px; width: 254px; height: 127px; clear: left; }
.agent .trader-inventory-info { position: relative; float: left; clear: left; width: 237px; height: 162px; margin: 6px 0 4px 48px; text-align: left; }
.agent .trader-inventory-info span { position: relative; float: left; font-size: 12px; color: #ffdc9f; width: 115px; }
.trader-inventory-info span { color: white; font-size: 12px; }

.agent .trader-img { position: relative; float: left; margin: 20px 0px 0px 29px; width: 91px; height: 91px; }
.agent .trader-bar-box { position: relative; float: left; margin: 13px 0px 0px 27px; width: 120px; height: 12px; }



/* Science Tent */

.science-tent { z-index: 1; background-image: url("../img/dialog/commander/science-tent.png"); position: absolute; width: 496px; height: 520px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.science-tabs { position: relative; float: right; right: 142px; top: 0px; }

.science-content-tab { background-image: url("../img/dialog/commander/science-content-tab.png"); position: relative; float: left; left: 8px; width: 302px; height: 28px; margin: 8px 0 0 0px; cursor: pointer; }
.science-middle-deco { color: white; margin: 0 auto; display: table; line-height: 27px; }

.science-tent-content { position: relative; float: left; clear: left; margin: 6px 14px 0 31px; width: 331px; height: 438px; overflow: hidden; }

.science-tab-box { position: relative; float: left; padding-bottom: 10px; width: 318px; }

.science-tab {  }
.infrastructure-tab {  display: none; }

.img-name { position: relative; float: left; margin: 19px 0 0 10px; width: 67px; height: 100%; text-align: :center; }
.science-tab img { position: relative; margin: 0 auto; display: table; }
.science-name { position: relative;  margin: 0 auto; display: table; font-size: 12px; color: #ffdc9f; text-align: center; }

.science-research-button {  background-image: url("../img/dialog/commander/upgrade-button.png"); width: 65px; height: 16px; cursor: pointer; position: relative;  clear: both; text-align: center; font-size: 11px; line-height: 15px; color: white; margin: 10px auto; }

.trade-content-tab-sub-content { display: none; }
.construction-content-tab-sub-content { display: none; }
 .science-research-button {  background-image: url("../img/dialog/commander/upgrade-button.png"); width: 65px; height: 16px; cursor: pointer; position: relative;  clear: both; text-align: center; font-size: 11px; line-height: 15px; color: white; margin: 10px auto; }
.resources-content-tab-sub-content { display: none; }

.science-tent-content-box { position: relative; float: left; width: 318px; height: 326px; overflow: hidden; }
.science-tent-content-box img { position: relative; float: left; /*margin-top: 19px; */}
.st-info-box { margin-top: 22px; }
.st-level, .st-info, .st-price, .st-time { position: relative; float: left; margin: 0px 0 5px 15px; width: 225px; }
.st-sub-price { margin: 0px 0 5px 66px!important; width: 158px!important; }
.st-info-value { position: relative; float: left; margin: 22px 0 0 0px; width: 175px; }
.st-level span, .st-info span, .st-price span, .st-time span { position: relative; float: left; margin-right: 10px; font-size: 12px; color: white; }

.st-info-name, .st-info-value { margin: 15px 0 0 15px; }
.st-info-name span, .st-info-value span { font-size: 10px; color: white; }

.science-info-icons { position: relative; float: left; margin-right: 10px; width: 16px; height: 16px; }

.science-level-icon { background-image: url("../img/dialog/training/level.png"); }
.science-time-icon { background-image: url("../img/dialog/training/clock.png"); }
.st-price img { margin-right: 3px; width: 16px; margin-top: 2px; position: relative; float: left; }
.st-price span { width: 43px; }

/* Main Tent */

.main-tent { z-index: 1; background-image: url("../img/dialog/commander/main-tent.png"); position: absolute; width: 550px; height: 550px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.main-tent-content { position: relative; float: left; clear: left; margin: 13px 0px 0 31px; width: 380px; height: 467px; overflow: hidden; }
.main-tent-content.overview {margin: 0; width: 441px; margin-top: 5px;}
.main-overview { margin-left: 38px; }
.resources { margin: 5px 0px 0 31px!important; width: 380px!important; height: 467px!important; color: white;  }
.pois { margin-top: 5px!important; display: none; }
.main-buildings { top: -8px; display: none; }
.main-overview span { position: relative; float: left; font-size: 12px; width: 169px; background: rgba(0,0,0,0.3); color: #d4ae71; margin: 1px; padding: 2px 0 2px 5px; }
.main-tent-content-value, .main-tent-content-coordinate { color: white!important }

.main-tent-resources-box { position: relative; float: left; width: 100%; height: 100%; }
/*.resources-inner-box img { position: relative; float: left; margin: 0px 10px 0 10px; width: 45px;}*/
.main-tent-resources-box table { width: 372px; left: -2px; top: -2px; position: relative; }
.main-tent-resources-box th { outline: 2px solid #f3c262; font-size: 14px; text-align: center; padding: 5px 0 5px 0; }
.main-tent-resources-box td { outline: 2px solid #f3c262; font-size: 14px; text-align: center; padding: 3px 0 3px 0; }

.main-tent-content-coordinate { width: auto!important; margin-left: 5px; font-size: 13px!important; }

/*.resources-inner-box { position:relative; float: left; outline: 2px solid #f3c262; margin-bottom: 2px; width: 182px;  }
.resources-inner-box span { position: relative; float: left; color: white; font-size: 12px; margin-top: 7px; }
*/

.pois-box { position: relative; float: left; width: 368px; height: 95px; outline: 2px solid #f3c262; margin-bottom: 2px;}
.resources-inner-box { position: relative; float: left; width: 182px; height: 97px; outline: 2px solid #f3c262; margin: 0 0 2px 0; }
/*.pois span { position: relative; float: left; font-size: 12px; width: 169px; background: rgba(0,0,0,0.3); color: #d4ae71; padding: 2px 0 2px 5px; margin: 1px; }*/
.poi-coordinates { position: relative; float: left; clear: left; font-size: 11px; color: white; width: 121px; text-align: center; top: -2px; }
.poi-coordinates span { margin: 0px 5px 0 0!important; }


.main-buildings-box { position: relative; float: left; width: 368px; margin-bottom: 2px; margin-left: 0px; outline: 2px solid #f3c262; height: 101px; }
.main-buildings-box img { position: relative; float: left; margin: 17px 10px 10px 10px; width: 68px; }
.poi-image { position: relative;margin: 10px 15px 10px 10px; float: left; height: 68px; width: 106px;}
.resources-image { position: relative; margin: 0 auto; height: 75px; display: table;}
.main-buildings-info-name { position: relative; float: left; margin-top: 15px; }
.main-buildings-info-value { position: relative; float: left; margin-top: 15px; }
.main-buildings-info-name span { position: relative; float: left; color: #d4ae71; background: rgba(0,0,0,0.3); font-size: 12px; clear: left; width: 55px; padding: 0 0 0 5px; margin: 1px; }
.main-buildings-info-value span { position: relative; float: left; color: white; font-size: 12px; background: rgba(0,0,0,0.3); padding: 0 0 0 5px;  width: 69px; margin: 1px; }
.building-upgrade-button {  background-image: url("../img/dialog/commander/upgrade-button.png"); width: 65px; height: 16px; cursor: pointer; position: relative; float: left; text-align: center; font-size: 11px; line-height: 15px; color: white; margin-top: 35px; }

.resources-shadow-box { background: rgba(0,0,0,0.3); top: 3px; position: relative; margin: 0 3px 0 3px; }
.poi-shadow-box { background: rgba(0,0,0,0.3); width: 222px; height: 87px; position: relative; float: left; top: 4px; padding-left: 10px; }
.buildings-shadow-box { background: rgba(0,0,0,0.3); width: 267px; height: 95px; position: relative; float: left; top: 3px; padding-left: 10px; }



.main-buildings-stats { position: relative; float: left; width: 112px; margin-top: 7px; }
.main-buildings-stats-2 { position: relative; float: left; width: 86px; margin-top: 7px; }
.main-poi-stats { position: relative; float: left; width: 98px; top: -2px; }
.main-poi-stats img { width: 16px; clear: left; margin: 5px 0 0 0; position: relative; float: left; }
.main-resources-stats { position: relative; clear: both; margin: 0 auto; display: table; }
.main-resources-stats img { margin: 0 0 0 15px; position: relative; float: left; height: 13px; top: 1px; }
.main-resources-stats span { position: relative; float: left; color: white; font-size: 12px; margin-left: 5px; }
.main-buildings-stats img, .main-buildings-stats-2 img { width: 16px; clear: left; margin: 11px 10px 0 7px!important; }
.main-buildings-stats span, .main-buildings-stats-2 span { position: relative; float: left; color: white; font-size: 12px; margin-top: 7px; }
.main-poi-stats span { position: relative; float: left; color: white; font-size: 12px; margin-top: 7px; }
.main-building-level-icon { background-image: url("../img/dialog/training/level.png"); position: relative; float: left; width: 16px; height: 16px; clear: left; margin-top: 5px; }
.level-value-2 { margin: 6px 0 0 7px!important; }
.building-status { position: relative; float: left; clear: left; }




/* Port */

.port { background-image: url("../img/dialog/commander/port.png"); position: absolute; width: 410px; height: 382px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.port-content { position: relative; float: left; clear: left; margin: 30px 10px 0 24px; width: 231px; height: 285px; text-align: center; }
.port-content span { position: relative; font-size: 18px; color: #d4ae71; margin-top: 10px; display: block; }
.port-content-info { font-size: 12px!important; color: white!important; margin-top: 5px!important; display: inline!important; }
.fishing-boat-button { background-image: url("../img/dialog/trade-station/dugme-neutral.png"); width: 107px; height: 28px; position: relative; margin: 0 auto; clear: both; text-align: center; color: white; margin-top: 7px;  line-height: 27px; cursor: pointer; }
.active-boats { position: relative; margin: 0 auto; width: 161px; height: 64px; }
.active-boats div { position: relative; float: left; width: 27px; height: 27px; margin: 2.5px; }
.active-boats img { position: relative; margin: .poi-good; }

/* Warehouse */

.warehouse { background-image: url("../img/dialog/commander/warehouse.png"); position: absolute; width: 500px; height: 600px; z-index: 1; margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.resource-overview { position: relative; float: left; clear: left; margin: 21px 5px 0 29px; width: 327px; height: 199px; }
.ro-name { position: relative; width: 100%; height: 22px; text-align: center; }
.ro-name span { line-height: 22px!important; }

.warehouse table { width: 327px; height: 175px; }
.warehouse td { width: 30%; font-size: 14px; color: white; text-align: center; }

.wh-slider-box { position: relative; float: left; margin-left: 8px; width: 150px; margin-top: 1px; }

.storage-capacity { position: relative; float: left; clear: left; margin: 32px 10px 0 29px; width: 328px; height: 287px; }
.total-capacity-name { position: relative; margin: 6px auto; display: table; font-size: 16px; color: white; }
.storage-exp-bar-box { position: relative; margin: 0 auto; width: 230px; height: 15px; }
.storage-sub-exp-bar-box { background-image: url("../img/dialog/commander/warehouse-exp-bar.png"); position: relative; float: left; width: 166px; height: 16px; }

.max-capacity { position: relative; float: left; margin-left: 74px; font-size: 14px; color: white; }
.min-capacity { position: relative; float: right; margin-right: 74px; font-size: 14px; color: white; }

.single-capacity { position: relative; margin: 0 auto; clear: left; width: 265px; height: 25px; margin-top: 5px; }
.single-capacity img { position: relative; float: left; margin-left: 10px; margin-top: -9px; }
.single-max-min { position: relative; float: left; font-size: 12px; margin: -2px 3px 0 3px; color: white; }
.commander-bar-2 { background-image: url("../img/dialog/commander/exp-bar-2.png"); position: absolute; margin: auto; left: 0px; right: 0px; top: 0px; bottom: 0px; width: 120px; height: 12px; }
.commander-bar-full-2 { background-image: url("../img/dialog/commander/bar-full-2.png"); width: calc(50% - 7px); height: 6px; position: relative; float: left; top: 4px; left: 4px; }


/* Fdsw */

.fdsw { background-image: url("../img/dialog/commander/fdsw.png"); position: absolute; width: 391px; height: 320px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.fdsw-content { position: relative; float: left; clear: left; margin: 39px 10px 0 25px; width: 212px; height: 228px; text-align: center; }
.fdsw-content span { font-size: 16px; color: white; line-height: 30px; }


/* Forge */

.forge { background-image: url("../img/dialog/commander/forge.png"); position: absolute; width: 500px; height: 350px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.forge-content { position: relative; float: left; clear: left; margin: 23px 2px 0 30px; width: 329px; height: 267px; text-align: center; }

.forge-content-box { position: relative; float: left; width: 100%; height: 71px; margin: 7px 0 8px 0; }
.forge-content-box select { outline: 0; background-color: #372f25; color: white; border: 2px solid #ffdc9f; width: 115px; float: left; margin: 30px 0 0 5px; -webkit-appearance: none; -moz-appearance: none; background: url("../img/dialog/commander/drop-down-button.png") no-repeat; background-position: 94px -.poi-good;  text-indent: 0.01px; text-overflow: "";  }
.forge-content-box option { outline: 0; background-color: #372f25; color: white; border: 0px; -webkit-appearance: none; -moz-appearance: none; left: .poi-good; }
.forge-frame { background-image: url("../img/dialog/commander/forge-frame.png"); position: relative; float: left; width: 67px; height: 68px; margin: 7px 0 0 15px; }
.forge-content-box img { position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0; height: 60px; }
.forge-names { position: absolute; width: 115px; height: 12px; top: 11px; left: 118px; }
.forge-names span { position: relative; margin: 0 auto; font-size: 14px; color: white; }


/* Majlis */

.majlis { background-image: url("../img/dialog/majlis/majlis.png"); position: absolute; width: 750px; height: 450px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.majlis-tabs { position: relative; float: right; right: 147px; top: 4px; }

.majlis-tribe { position: relative; float: left; clear: left; margin: -3px 0px 0 20px; width: 602px; height: 331px; display: none; }
.tribe-table { background-image: url("../img/dialog/majlis/tribe-table.png"); position: relative; width: 602px; height: 331px; }
.alliance-table table { position: relative; width: 479px; left: 11px; top: 12px; }
.tribe-table table, .gifts-table table { position: relative; width: 580px; left: 11px; top: 12px;  }
.tribe-table td { width: 14%; text-align: center; color: white; }
.tribe-table th { height: 47px; width: 14%; }
.tribe-bottom { position: relative; display: table; clear: left; margin: -3px auto; height: 62px;  }
.tribe-bottom-button { background-image: url("../img/dialog/majlis/Untitled-1.png"); width: 103px; height: 20px; position: relative; float: left; text-align: center; color: white; line-height: 21px; font-size: 14px; cursor: pointer; }
.tribe-bottom span { background-image: url("../img/dialog/majlis/tribe-search.png"); width: 54px; height: 16px; position: relative; float: left; margin: 2px 5px 0 5px; color: white; text-align: center; font-size: 12px; cursor: pointer; }
.tribe-bottom input { background-image: url("../img/dialog/majlis/tribe-input.png"); width: 76px; height: 16px;  position: relative; float: left; margin: .poi-good 5px 0 5px; color: white; border: 0px; outline: 0; font-size: 12px; }



.majlis-alliance { position: relative; float: left; clear: left; margin: -3px 0px 0 0px; width: 616px; height: 339px; display:none; }
.alliance-table { background-image: url("../img/dialog/majlis/alliance-table.png"); position: relative; float: left; width: 500px; height: 353px; }
.alliance-table td { width: 16%; text-align: center; color: white; }
.alliance-table th { height: 47px; width: 16%; }
.alliance-left { position: relative; float: left; width: 100px; height: 284px; margin-left: 16px; }
.alliance-left-button { background-image: url("../img/dialog/majlis/button.png"); width: 100px; height: 20px; position: relative; float: left; color: white; cursor: pointer; font-size: 12px; text-align: center; line-height: 20px; margin-top: 30px; }
.alliance-bottom {  position: relative; display: table; clear: left; float: left; margin: 2px 0 0 211px; height: 62px; }



.majlis-protection { position: relative; float: left; clear: left; margin: -3px 0px 0 17px; width: 602px; height: 381px; display: none; }
.protection-table { background-image: url("../img/dialog/majlis/protection-table.png"); position: relative; width: 602px; height: 381px; }
.big-headline { position: relative; float: left; width: 287px; height: 50px; text-align: center; margin: 13px 0 0 13px; }
.big-headline2 { position: relative; float: left; width: 291px; height: 50px; text-align: center; margin-top: 13px; }
.big-headline span { color: white; line-height: 45px; }
.big-headline2 span { color: white; position: relative; top: 2px; }
.protection-members { position: relative; float: left; clear: left; width: 291px; margin-left: 10px; height: 160px; }
.protection-members .dialog-name, .protection-candidates .dialog-name { height: 20px; }
.members-name { position: relative; float: left; clear: left; color: white; font-size: 14px; margin: 5px 0 0 10px; }
.next-level, .benefits { position: relative; float: left; width: 145px; height: 179px; }
.next-level img { position: relative; float: left; margin: 5px 0 0 10px; }
.protection-candidates { position: relative; float: left; clear: left; width: 291px; margin-left: 10px; height: 147px; top: -19px; }
.protection-buttons-box { position: relative; float: left; width: 290px; height: 130px; }
.protection-buttons-box .tribe-bottom-button { margin: 34px 7px 0 25px; font-size: 12px; }
.protection-buttons-box .favourite-button { clear: both; top: 20px; font-size: 12px!important; }


.majlis-pact { position: relative; float: left; clear: left; margin: -3px 0px 0 17px; width: 602px; height: 381px; display: none; }
.pact-name { top: 12px; }
.pact-name2 { top: 5px!important; }
.pact-table { background-image: url("../img/dialog/majlis/pact-table.png"); position: relative; width: 602px; height: 381px; }
.pact-left { position: relative; float: left; width: 346px; height: 335px; margin: 12px 0 0 12px; }
.pact-left input { background-image: url("../img/dialog/majlis/pact-input.png"); color: white; position: relative; float: left; width: 148px; margin: 10px; height: 16px; border: 0px; outline: 0; padding-left: 5px; }
.pact-facts { position: relative; float: left; }
.type-of-facts { position: relative; float: left; width: 170px; }
.type-of-facts span { position: relative; float: left; color: white; margin-left: 20px; }
.type-of-facts input { background-color: transparent; color: white; position: relative; float: left; width: 13px; margin: 3px -10px 0 21px; height: 13px; border: 0px; outline: 0; padding-left: 5px; clear: left; }
.tof-name { color: #d4ae71!important; }
.message-name { position: relative; float: left; color: white; margin: 0 0 0 15px; }
.text-area { background-image: url("../img/dialog/majlis/text-input.png"); position: rtelative; width: 321px; height: 115px; margin: 8px; color: white; text-align: top; background-color: #1e1000; outline: 0; }
.pending-pacts { position: relative; float: left; width: 233px; height: 280px; margin-top: 12px; }
.pending-pacts .dialog-name { height: 25px; top: -6px; }
.pending-pacts-box { position: relative; float: left; width: 219px; margin-top: 10px; text-align: center; }
.pending-pacts-box span { position: relative; margin: 5px; color: white; display: inline; }
.send-confirm { position: relative; float: left; width: 219px; height: 38px; }
.send-confirm div { background-image: url("../img/dialog/majlis/button.png"); position: relative; margin: auto; top: 16px; left: 0; bottom: 0; right: 0; width: 103px; height: 20px; color: white; line-height: 21px; font-size: 12px; text-align: center; cursor: pointer; }



.majlis-visitor { position: relative; float: left; clear: left; margin: -3px 0px 0 17px; width: 602px; height: 381px; }
.visitor-table { background-image: url("../img/dialog/majlis/visitor-table.png"); position: relative; width: 602px; height: 381px; }
.visitor-box { position: relative; width: 565px; height: 125px; top: 12px; left: 12px; }
.visitor-box img { position: relative; float: left; margin: 27px 10px 0 10px; }
.majlis-commander-info { position: relative; float: left; margin-top: 15px; }
.majlis-commander-info span { position: relative; float: left; color: white; margin-right: 10px; font-size: 14px; }
.visitor-equipment-holder { background-image: url("../img/dialog/majlis/visitor-equipment-holder.png"); background-repeat: no-repeat; position: relative; float: right; margin: 12px 5px 0 0; width: 295px; height: 116px; }
.visitor-equipment-holder img { margin: 2px 10px 14px 4px!important; }


.majlis-gifts { position: relative; float: left; clear: left; margin: -3px 0px 0 20px; width: 602px; height: 381px; display: none; }
.gifts-table { background-image: url("../img/dialog/majlis/gifts-table.png"); position: relative; width: 602px; height: 381px; }
.gifts-table td { width: 20%; text-align: center; color: white; position: relative; }
.gifts-table th { height: 47px; width: 20%; }
.gifts-table-img { position: relative; martgin: 0 auto; margin-bottom: 5px; }
.gifts-table-button { background-image: url("../img/dialog/majlis/button.png"); width: 103px; height: 20px; position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0; color: white; cursor: pointer; font-size: 12px; text-align: center; line-height: 20px; }
.by-slot { position: relative!important; left: 0!important; display: table; background-repeat: no-repeat; margin: 0 auto; line-height: 16px; }


/* Shop */

.shop { background-image: url("../img/dialog/commander/shop.png"); position: absolute; width: 751px; height: 427px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.shop-tabs { position: relative; float: right; right: 25px; top: 26px; width: 698px; }
.pages { position: relative; float: left; width: 172px; height: 18px; margin: 8px 0 0 20px; text-align: center; }
.pages div { position: relative; margin: 0 auto; display: table; }
.pages a { position: relative; float: left; margin: 3px; font-size: 12px; color: white; }

.shop-content { position: relative; float: left; margin: 25px 0 0 42px; width: 670px; height: 316px; }
.shop-box { position: relative; float: left; margin: 6px; width: 155px; height: 70px; }
.shop-item-box { background-image: url("../img/dialog/commander/box-50px.png"); background-repeat: no-repeat; position: relative; float: left; width: 50px; height: 70px; text-align: center; }
.shop-item-box img { position: relative; top: 2px; left: 2px; }
.shop-item-box span { position: relative; flont-size: 14px; color: white; }
.shop-info {  position: relative; float: left; color: white; margin-left: 5px; width: 100px; text-align: left; font-size: 12px; }

/* Garrison */

.garrison { background-image: url("../img/dialog/commander/garrison.png"); position: absolute; width: 501px; height: 342px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.garrison-content { position: relative; float: left; clear: left; margin: 23px 5px 0 28px; width: 330px; height: 258px; text-align: center; }

.garrison-content-box { position: relative; width: 315px; height: 83px; margin: 0 auto; }
.garrison-content-box span { position: relative; float: left; font-size: 16px; color: white; margin: 5px 0 6px 7px; }

.garrison-inventory { position: relative; float: left; width: 324px; height: 52px; top: -8px; }
.garrison-inventory img { position: relative; float: left; margin: 9.2px; }


/* Tower */

.tower { background-image: url("../img/dialog/commander/tower.png"); position: absolute; width: 472px; height: 350px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.tower-content { position: relative; float: left; clear: left; margin: 31px 10px 0 28px; width: 290px; height: 258px; text-align: center; }
.tower-itex-box { position: relative; float: left; width: 124px; height: 123px; margin: 16px 0 17px 13px; }
.tower-itex-box img { position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
.tower-info { position: relative; float: left; color: white; margin-left: 5px; width: 148px; margin-top: 23px; text-align: left; }



/* Arabian Medicine Tent */

.arabian-medicine-tent { background-image: url("../img/dialog/commander/arabian-medicine-tent.png"); position: absolute; width: 481px; height: 461px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.medicine-overview { position: relative; float: left; clear: left; margin: 29px 10px 0 29px; width: 298px; height: 256px; }
.medicine-overview table { width: 100%; }
.price-status-box { position: relative; float: left; clear: left;  margin: 18px 10px 0 29px; width: 298px; height: 81px; }
.price-status { position: relative; float: left; width: 147px; margin: .poi-good; height: 79px; text-align: center; }
.price-status span { font-size: 14px; color: white; }

.one-third { width: 33%; font-size: 14px; color: white; text-align: center; }
.two-thirds { width: 67%; font-size: 14px; color: white; text-align: center; }

/* Market Tent */

.market-tent { background-image: url("../img/dialog/commander/market-tent.png"); position: absolute; width: 556px; height: 382px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.trade-boxes { position: relative; float: left; clear: left; margin: 27px 0 0 18px; width: 392px; height: 193px;  }

.market-tent-name-1 { position: relative; float: left; margin: .poi-good 0 0 9px; width: 173px; height: 19px; text-align: center; }
.market-tent-name-2 { position: relative; float: right; margin: .poi-good 9px 0 0; width: 173px; height: 19px; text-align: center; }
.market-tent-name-1 span, .market-tent-name-2 span { color: white; font-size: 16px; }

.server-items { position: relative; float: left; clear: left;  margin: 21px 0 0 17px; width: 156px; height: 130px; }
.player-items { position: relative; float: right;  margin: 21px 17px 0 0; width: 156px; height: 130px; }

.item-box { position: absolute; width: 48px; height: 62px; }
.item-box img { position: relative; float: left; width: 48px; height: 48px; }
.item-box input { position: relative; float: left; clear: left; width: 35px; height: 12px; margin: 2px 0 0 6px; text-align: center; font-size: 10px; color: white;  outline: 0; border: 0px; background-color: transparent; }

.ietm-box-2 { left: 54px; }
.ietm-box-3 { left: 108px; }
.ietm-box-4 { left: 28px; bottom: 0px; }
.ietm-box-5 { left: 82px; bottom: 0px; }
.ietm-box-6 { left: 15px; top: 5px }
.ietm-box-7 { right: 13px; top: 5px  }

.current-trade { position: relative; float: left; clear: left; margin-left: 18px; width: 392px; height: 95px; }
.market-tent-slider-box { position: absolute; bottom: 0px; }
.market-tent-slider { position: relative; float: left;; width: 325px; height: 12px; margin-top: 6px; }

/* Trade Point */

.trade-point { background-image: url("../img/dialog/trade-point/trade-box.png"); position: absolute; width: 600px; height: 450px; z-index: 1; margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }

.load-money { position: relative; float: left; margin: 19px 0px 0px 32px; width: 422px; height: 21px; }
.load-money img { width: 18px; }
.load-money span { position: relative; float: left; margin: 5px; color: white; font-size: 12px; line-height: 12px; }

.trade-point-avatar { position: absolute; top: 44px; right: 28px; width: 91px; height: 91px;  }

.merchant { position: relative; float: left; clear: left; margin: 00px 0px 0px 31px; width: 423px; height: 176px; }
.trade-p { position: relative; float: left; clear: left; margin: 0px 0px 0px 31px; width: 423px; height: 176px; }
.merchant input, .trade-p input {  outline: 0; border: 0px; position: relative; float: left; clear: left; width: 83px; height: 15px; color: white; font-size: 14px; line-height: 3px; background-color: transparent;  margin: -2px 0px 0px 20px; text-align: right; }
.sale-trade-good { position: relative; float: left; margin: 17px 0px 0px 17px; width: 91px; height: 91px;  }
.good2 { margin: 18px 0px 0px 17px; }
.trade-point-slider-bar { background-image: url("../img/dialog/trade-point/exp-bar.png"); position: relative; float: left; clear: left; width: 106px; height: 16px; margin: 6px 0px 0px 10px; }
.trade-point-slider-bar-2 { background-image: url("../img/dialog/trade-point/exp-bar.png"); position: relative; float: left; clear: left; width: 106px; height: 16px; margin: 6px 0px 0px 0px; }
.inner-slider { background-image: url("../img/dialog/trade-point/exp-slider.png"); width: 12px; height: 12px; position: relative; float: left; margin-left: -6px; top: 4px; cursor: pointer; }
.inner-slider2 { background-image: url("../img/dialog/trade-point/exp-slider.png"); width: 12px; height: 12px; position: relative; float: left; top: 3px!important; cursor: pointer; }
.trade-point-inventory2, .trade-point-inventory { position: relative; float: left; width: 299px; height: 121px;  margin: 5px 0 0 11px; }

.sell-button { background-image: url("../img/dialog/trade-station/dugme-neutral.png"); position: relative; float: left; width: 107px; height: 28px; color: white; line-height: 27px; text-align: center; cursor: pointer; }
.sell-all { margin-top: -9px; margin-left: 39px; }
.sell { margin-top: -31px; margin-left: 276px; }
.buy { margin-top: -9px; margin-left: 100px; }

/* War */

.war-commander { z-index: 2; background-image: url("../img/dialog/war/commanders-tab/commander-box.png"); position: absolute; width: 600px; height: 600px;  margin: auto; top: 0; left: 0; bottom: 0; right: 0; display: none; }
.war-commander-info tr, .agent-commander-info tr, .war-commander-info td  { width: 100%; height: 100px; display: block; }
.war-commander-info table, .agent-commander-info table { position: relative; float: left; clear: left; width: 100%; color: white; text-align: center; }
/*.war-commander-info { display: none; }*/
/*.agent-commander-info {  }*/
/*.war-research-info { display: none; }*/

.war-tent-content-box { position: relative; float: left; width: 421px; height: 405px; overflow: hidden; }

.name-img-level { position: relative; float: right; width: 70px; }
.war-exp-bar-box { margin: 25px 0 0 0!important; }

.agent-missions { background-image: url("../img/dialog/war/commanders-tab/agent-missions-img.png"); width: 169px; height: 82px; position: relative; float: left; margin: 5px 30px 0 5px; }
.agent-missions span { position: relative; float: left; clear: left; color: white; font-size: 13px; margin: 5px 0 0 5px; }
.agent-bottom { background-image: url("../img/dialog/war/commanders-tab/agent-tab-bottom.png"); position: absolute; width: 424px; height: 121px; bottom: .poi-good; left: -.poi-good; }
.agent-mission-info { position: relative; float: left; margin-left: 10px; color: white; font-size: 13px; }

.war-troops { background-image: url("../img/dialog/war/commanders-tab/war-troops-img.png"); width: 210px; height: 78px; position: relative; float: left; margin: 7px 0 0 5px; }
.war-troops2 { background-image: url("../img/dialog/war/commanders-tab/war-troops-img.png"); width: 220px; height: 87px; position: relative; float: left; margin: 6px 0 0 0; background-repeat: no-repeat; background-position-x: 5px; background-position-y: 3px; }
.unit-box { width: 30px; height: 22px; position: relative; float: left; margin: 7px; margin-top: 0px;}
.unit-box2 { width: 30px; height: 22px; position: relative; float: left; margin: 5px 7px 16px 7px;}
.unit-box img { margin: auto; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; width: 30px;}
.unit-box2 img { margin: auto; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; width: 30px;}
.unit-box3 {
    width: 68px;
    height: 68px;
    position: relative;
    float: left;
    margin: -3px -3px 0px -1px;
}
.unit-box3 img {
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.top-left-img { top: 9px!important; /*left: -10px!important;*/ }
.war-troop-info {  position: relative; width: 193px; height: 96px; float: right; margin-right: 5px; }
.war-troop-info img { position: relative; float: right; clear: right; }
.war-unit-info-name, .war-unit-info-value { position: relative; float: left; top: 7px; margin-right: 11px; }

.war-unit-name { position: relative; }
.war-bar { top: -5px; }
.level-unit-name { position: relative; margin: 0 auto; display: table; font-size: 12px; color: white; margin-top: 10px; }
.agent-check-name { margin-top: 73px; right: 55px; }
.trained-units { background-image: url("../img/dialog/war/commanders-tab/commander-tab-bottom.png"); position: absolute; width: 423px; height: 100px; bottom: 1px; left: 1px; }
.war-troops-trained-units { position: relative; float: left; width: 405px; height: 94px; margin: 18px 0 0 6px; }
.wart-tent-unit-info-box { position: relative; margin-top: 16px; }

.war-available-unit-name{ color: #d4ae71; position: relative; float: left; font-size: 16px;  margin-left: 10px; line-height: 0px; margin-right: 10px; }
.war-name { clear: right; }

.war-research-img { /*margin-left: 20px;*/ }
.war-content-tab { background-image: url("../img/dialog/war/commanders-tab/war-tab.png"); position: relative; float: left; width: 406px; height: 28px; margin: 8px 0 0 9px; cursor: pointer;}
.war-middle-deco { width: 85%!important; }

.war-content-tab-sub-content { display: none; }
.production-content-tab-sub-content { display: none; }
.espionage-content-tab-sub-content {  }

/* TOP */
.top { position: relative; float: left; width: 100%; height: 65px; z-index: 1; }

.top-resources { position: relative!important; float: left; margin: 6px 0 0 10px; }
.top-resources-input { position: relative; float: left; margin: 7px 0 0 10px; height: 16px; width: 60px; font-size: 12px; font-weight: 800; background-color: transparent; outline: 0px; border: 0px; color: white; }
.top-resources-right { position: relative; float: right; margin: 6px 10px 0 0px; }
.top-resources-input-right-first { position: relative; float: right; margin: 7px 90px 0 0px; height: 16px; width: 50px; font-size: 12px; font-weight: 800; background-color: transparent; outline: 0px; border: 0px; color: white;}
.top-resources-input-right { position: relative; float: right; margin: 7px 10px 0 0px; height: 16px; width: 50px; font-size: 12px; font-weight: 800; background-color: transparent; outline: 0px; border: 0px; color: white; }

.troop-price .top-resources { position: relative!important; float: left; margin: 5px 0 0 10px; height: 13px; }


.top-menu-bar { background-image: url("../img/top-interface/top-menu-bar.png"); position: relative; float: left; width: 100%; height: 30px; }
.top-menu-name { 
    color: white;
    text-align: center;
    line-height: 0;
    background-image: url("../img/top-interface/top-menu-name01.png"); 
    position: relative; width: 276px; height: 29px; margin: 4px auto; z-index: 1; 
}
.top-menu-name span { top: 15px; position: relative; width: 276px; display: inline-table; }
.top-menu-center-box { position: relative; margin: 0 auto; width: 612px; }
.top-menu-center { position: relative; width: 306px; height: 34px; float: left; top: -10px; z-index: -1; }
.top-menu-center-l { background-image: url("../img/top-interface/top-menu-center-l.png"); }
.top-menu-center-l span { position: relative; float: left; left: 25px; color: white; top: 12px; }
.top-menu-center-r { background-image: url("../img/top-interface/top-menu-center-r.png"); }
.top-menu-center-r span { position: relative; float: right; right: 25px; color: white; top: 12px; }
.top-menu-center-down { background-image: url("../img/top-interface/top-menu-center-down.png"); position: relative; width: 234px; height: 49px; top: 17px; margin: 0 auto; text-align: center; }
.top-menu-center-down span { position: relative; top: -42px; color: white; }

.top-menu-button { background-image: url("../img/top-interface/top-menu-button.png"); position: relative; float: left; width: 30px; height: 30px; margin-left: 10px; cursor: pointer; }
.full-screen-button { background-image: url("../img/top-interface/full-screen-button.png"); position: relative; float: right; width: 25px; height: 25px; margin-right: 10px; cursor: pointer; top: 1px; }

.top-ornament { background-image: url("../img/top-interface/ornament-top.png"); position: absolute; width: 670px; height: 94px; top: 38px; bottom: 0px; left: 0px; right: 0px; margin: auto; z-index: -1; }

.top-menu-gradient-bar { position: relative; float: left; height: 26px; width: 50%; clear: left; margin-top:-4px; }
.daynight { position: relative; float: left; margin: 0px 5px 0px 5px; top: 5px; }
.effects { position: relative; float: left; margin: 0px 5px 0px 5px; top: 6px; }

.advisor { position: absolute; right: 0px; width: 231px; top: 28px; }
.advisor-name { background-image: url("../img/top-interface/advisor-name.png"); position: absolute; width: 231px; height: 27px; }
.advisor-name span { position: relative; float: left; color: white; font-size: 12px; left: 25px; line-height: 24px; }
.advisor-name b { color: #d4ae71!important; }
.advisor-img { background-image: url("../img/top-interface/advisor-img.png"); position: absolute; width: 90px; height: 120px; right: 10px; top: -20px; }
.advisor-ornament { background-image: url("../img/top-interface/advisor-ornament.png"); position: absolute; width: 208px; height: 101px; right: 0px; top: 0px; }

/* BUILD ORDER */

.build-order { position: relative; float: left; top: 20px; clear: left; z-index: 1;}
.build-order-content { position: relative; float: left; clear: left; margin-bottom: 5px; }
.build-order-box { background-image: url("../img/build-order/box.png"); width: 260px; height: 187px; position: relative; float: left; display: none; }
.build-order-tab { width: 23px; height: 51px; position: relative; float: left; cursor: pointer; }

.tab-build { background-image: url("../img/build-order/tab-build.png"); top: 10px; z-index: 4; }
.tab-build-click { top: 1px; }
.tab-research { background-image: url("../img/build-order/tab-research.png"); z-index: 3; background-repeat: no-repeat;}
.tab-research-click { top: 1px }
.tab-training { background-image: url("../img/build-order/tab-training.png"); z-index: 2; top: -10px; }
.tab-training2 { top: 0px; }
.tab-training-click { top: 1px; }
.tab-workshop { background-image: url("../img/build-order/tab-workshop.png"); z-index: 1; top: -20px; }
.tab-workshop2 { top: 0px; }
.tab-workshop3 { top: -10px; }
.tab-workshop-click { top: 1px; }

.order-info { position: relative; width: 220px; top: 10px; left: 18px; text-align: center; }
.name { font-size: 23px; color: #d4ae71; margin-right: 5px;  }
.status { font-size: 10px; color: #d5d5d5; }
.time { font-size: 10px; color: #d5d5d5; }
.order-progress-bar {  background-image: url("../img/build-order/progress-bar.png"); width: 218px; height: 16px; margin: 0 auto; }
.order-inner-progress-bar { position: relative; float: left; left: 7px; top: 9px; width: 204px; height: 2px; }
.order-inner-progress-bar div { position: relative; background-color: rgb(3, 245, 177); width: 50%; height: 2px; }

.order-content { position: relative; width: 220px; top: 15px; left: 18px; }
.order-content img { position: relative; float: left; }
.order-button { background-image: url("../img/build-order/button.png"); width: 118px; height: 28px; position: relative; float: right; margin-top: 10px; cursor: pointer; text-align: center; }
.order-button span { font-size: 18px; color: #d4ae71; position: relative; top: 3px; }

/* LIVE STOCK */

.live-stock { position: relative; float: right; top: 80px; clear: right; }
.live-stock-content { position: relative; float: right; clear: right; margin-bottom: 5px; height: 251px; width: 375px;;  }
.live-stock-open { display: block; }
.live-stock-box { background-image: url("../img/live-stock/live-stock.png"); width: 352px; height: 251px; position: relative; float: right; }
.live-stock-tab { background-image: url("../img/live-stock/live-stock-tab.png"); width: 23px; height: 52px; top: -1px; position: relative; float: right; cursor: pointer; }
.live-stock-tabs { position: relative; float: right; right: 5px; margin-top: 3px; }

.livestock { background-image: url("../img/live-stock/bar.png"); width: 339px; height: 225px; position: relative; margin: 16px 0 0 10px; }
.livestock th, .livestock td { width: 25%; text-align: center; font-size: 12px; color: white; height: 32px; position: relative; }
.livestock td { padding: 3px 0 3px 0; }
.livestock td img { position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0;  }
.camels table { width: 231px; margin-left: 10px; top: 3px; position: relative; }
.livestock table { width: 322px; margin-left: 10px; top: 3px; position: relative; }

.ls-first { width: 21%!important; }
.ls-second { width: 29%!important; }

.camels { background-image: url("../img/live-stock/bar2.png"); width: 253px; height: 225px; position: relative; margin: 15px 0 0 97px; display: none; }
.camels th, .camels td { width: 33%; text-align: center; font-size: 12px; color: white; height: 44px; position: relative; }
.camels-button { background-image: url("../img/live-stock/stats-button.png"); width: 80px; height: 21px; position: absolute; left: -86px; text-align: center; color: white; cursor: pointer; top: 26px; }


/* BOTTOM TOP */

.bottom-top { z-index: 1; width: 100%;/*  height: 113px; */ position: absolute; bottom: 115px; }

.heroes { width: 175px; position: absolute; left: 39px; bottom: 15px; }
.hero-frame { background-image: url("../img/hero-window/hero-box.png"); width: 149px; height: 74px; position: relative; float: left; clear: left; margin-top: 5px; }
.hero-frame-a { background-image: url("../img/hero-window/hero-box-a.png"); width: 149px; height: 74px; position: relative; float: left; clear: left; margin-top: 5px; }
.hero-icon { width: 55px; height: 72px; position: relative; float: left; margin-left: -38px; }
.hero-name-title { position: relative; float: left; width: 111px; text-align: center; top: 10px; left: 4px; height: 35px; }
.hero-name { position: relative; color: #d4ae71; font-size: 14px; display: inline; }
.hero-title { position: relative; color: #d4ae71; font-size: 10px; top: -8px; }
.expirience { position: relative; float: left; left: 8px; width: 111px; top: -4px; }
.expirience span { position: relative; float: left; color: white; font-size: 11px; margin-left: 12px; top: 5px; }
.exp-bar { background-image: url("../img/hero-window/exp-bar.png"); width: 100px; height: 16px; position: relative; magin: 0 auto; display: table; }
.exp-inner-bar { position: relative; float: left; left: 7px; top: 9px; width: 84px; height: 2px; }
.exp-inner-bar div { position: relative; background-color: green; width: 50%; height: 2px; }

.hero-level-icon { height: 12px; position: relative; top: 3px; }

.slide-down { height: calc(100% - 28px); }

.chat { position: absolute; right: 2px; top: auto!important; left: auto!important; bottom: -4px; background-color: rgba(26,0,0,0.7); min-width: 430px; max-width: 700px; width: 430px; /* min-height: 230px; */ max-height: 500px; height: 230px; }
.chat-bar-up { background-image: url("../img/chat-window/chat-bar-up.png"); position: relative; width: 100%; height: 28px; z-index:1; }

.slide-button { position: relative; float: left; width: 22px; height: 22px; top: 3px; }
.slide-down-button { background-image: url("../img/chat-window/minimize.png"); }
.slide-up-button { background-image: url("../img/chat-window/un-minimize.png"); }
.resize-button { background-image: url("../img/chat-window/resize-button.png"); position: relative; float: left; margin-right: 10px;  width: 16px; height: 16px; top: 4px; }

.chat-tab { position: relative; float: right; right: 20px; top: 3px; cursor: pointer; }
.chat-tab-l { background-image: url("../img/chat-window/chat-tab-l.png"); position: relative; float: left; width: 22px; height: 20px; }
.chat-tab-middle { background-image: url("../img/chat-window/chat-tab-middle.png"); position: relative; float: left; height: 19px; color: #d4ae71; line-height: 21px; font-size: 12px; top: 1px; }
.chat-tab-r { background-image: url("../img/chat-window/chat-tab-r.png"); position: relative; float: left; width: 10px; height: 20px; }

.chat-tab-left { position: relative; float: left; left: 20px; top: 3px; cursor: pointer; }
.chat-tab-l-2 { background-image: url("../img/chat-window/tab-left/chat-tab-l.png"); position: relative; float: left; width: 9px; height: 23px; }
.chat-tab-middle-2 { background-image: url("../img/chat-window/chat-tab-middle.png"); position: relative; float: left; height: 23px; color: #d4ae71; line-height: 25px; font-size: 12px; width: 55px; text-align: center; }
.chat-tab-r-2 { background-image: url("../img/chat-window/tab-left/chat-tab-r.png"); position: relative; float: left; width: 17px; height: 23px; }

.chat-tab-b { background-image: url("../img/chat-window/chat-tab-b.png"); position: relative; float: left; width: 24px; height: 21px; }
.chat-tab-middle-v { background-image: url("../img/chat-window/chat-tab-middle-v.png"); position: relative; float: left; width: 24px; color: #d4ae71; line-height: 10px; font-size: 12px; }
.chat-tab-t { background-image: url("../img/chat-window/chat-tab-t.png"); position: relative; float: left; width: 24px; height: 10px; }

.chat-tab-l-big { background-image: url("../img/chat-window/chat-tab-l.png"); position: relative; float: left; width: 17px; height: 23px; }
.chat-tab-middle-big { background-image: url("../img/chat-window/chat-tab-middle.png"); position: relative; float: left; height: 23px; color: #d4ae71; line-height: 25px;  font-size: 12px; }
.chat-tab-r-big { background-image: url("../img/chat-window/chat-tab-r.png"); position: relative; float: left; width: 9px; height: 23px; }

.chat-slider-bar { position: relative; float: right; width: 13px; height: calc(100% - 50px); }
.chat-slider-u { background-image: url("../img/chat-window/slider-bar-u.png"); width: 13px; height: 23px; float: left; clear: left; }
.chat-slider-middle { background-image: url("../img/chat-window/slider-bar-middle.png"); width: 9px; height: calc(100% - 47px); float: left; clear: left; position: relative; left: 2px; }
.chat-slider-d { background-image: url("../img/chat-window/slider-bar-d.png"); width: 13px; height: 23px; float: left; clear: left; }
.chat-slider { background-image: url("../img/chat-window/slider.png"); width: 14px; height: 11px; position: relative; left: -5px; }

.text-input { position: absolute; bottom: 0px; width: 100%; }
.text-input-middle { background-image: url("../img/chat-window/text-input-middle.png"); height: 22px; width: calc(100% - 45px); position: relative; float: right; color: white; text-align: right; border: 0px; display: block; outline: 0; }
.enter-button { background-image: url("../img/chat-window/enter.png"); width: 41px; height: 18px; position: absolute; left: 2px; top: 2px; cursor: pointer; }

/* BOTTOM */
.center-map-button { 
    background-image: url("../img/map-box/city.png")!important;
    float: right;
    width: 64px;
    height: 54px;
    margin-top: 2px;
    margin-left: 5px;
    z-index: 5;
    position: absolute;
    cursor: pointer;
 }
.bottom { z-index: 1; width: 100%;/*  height: 113px; */ position: absolute; bottom: 0px; display: table; }

.left-section { position: relative; float: left; width: 220px; height: 116px; }
.map-box { background-image: url("../img/map-box/map-box.png"); position: absolute; float: left; width: 220px; height: 120px; top: -4px; }

.middle-section { height: 107px; bottom: -3px; overflow: hidden; margin-top: 9px; position: relative; }
.right-section { background-image: url("../img/by-gold/frame.png"); position: relative; float:right; width: 170px; height: 120px; top: -4px; }
.right-section img { position: relative; margin: 0 auto; display: block; top: 36px; width: 110px; }
.ofdsaij { background-image: url("../img/by-gold/ofdsaij.png"); width: 83px; height: 4px; position: relative; margin: 0 auto; top: 11px; }
.of2 { top: 26px; }
.by-gold-text { background-image: url("../img/by-gold/by-gold-text.png"); width: 103px; height: 20px; position: relative; margin: 0 auto; top: 40px; text-align: center; cursor: pointer; }
.by-gold-text span { text-align: center; font-size: 12px; color: white; height: 32px; position: relative; }

.bot-bar { position: relative; float: left; width: 100%; top: 6px; }
.bot-bar-deco-l { background-image: url("../img/bottom-middle/bot-bar-deco-l.png"); width: 70px; height: 22px; float: left; }
.bot-bar-deco-r { background-image: url("../img/bottom-middle/bot-bar-deco-r.png"); width: 70px; height: 22px; float: right; }
.bot-bar-deco-middle { background-image: url("../img/bottom-middle/bot-bar-deco-middle.png"); height: 22px; }

.friends-tab { background-image: url("../img/bottom-middle/friends-tab.png"); width: 80px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; left: 32px; }
.alliance-tab { background-image: url("../img/bottom-middle/alliance-tab.png"); width: 80px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; left: 16px; }
.build-tab { background-image: url("../img/bottom-middle/build-tab.png"); width: 80px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; right: 32px; }
.inventory-tab { background-image: url("../img/bottom-middle/inventory-tab.png"); width: 80px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; right: 16px; z-index: 1; }
 
.bot-bar-deco-name { position: relative; margin:0 auto; top: -7px; display: table; height: 147px; width: auto; }
.bot-bar-deco-name-left { background-image: url("../img/bottom-middle/bot-bar-deco-name-left.png"); position: relative; width: 25px; height: 28px; float: left; z-index: 2; }
.bot-bar-deco-name-middle {  background-image: url("../img/bottom-middle/bot-bar-deco-name-middle.png"); line-height: 28px; color: white; width: 105px; height: 28px; float: left; font-size: 15px; position: relative; text-align: center; }
.bot-bar-deco-name-right { background-image: url("../img/bottom-middle/bot-bar-deco-name-right.png"); position: relative; width: 25px; height: 28px; float: left; z-index: 2; }

.bot-bar-deco-ornament { background-image: url("../img/bottom-middle/bot-bar-deco-ornament.png"); position: absolute; width: 304px; height: 55px; top: -135px; bottom: 0px; left: 0px; right: 0px; margin: auto; }

.friends { background-image: url("../img/bottom-middle/friends-frame-bg.png"); }
.buildings { background-image: url("../img/bottom-middle/friends-frame-bg.png"); display: none; }
.img-frame { position: relative; margin: 8px 2px 0px 15px; top: -2px; display: inline; height: 57px; }
.buildings .img-frame { width: 75px; }
.frame-bg { width: 100%; height: 68px; position: relative; top: 6px; overflow: hidden; white-space: nowrap; }

.slider-bar { position: relative; float: left; width: 100%; top: 6px; }
.slider-bar-l-big { background-image: url("../img/bottom-middle/slider-bar-l.png"); width: 23px; height: 13px; float: left; }
.slider-bar-r-big { background-image: url("../img/bottom-middle/slider-bar-r.png"); width: 23px; height: 13px; float: right; }
.slider-bar-middle-big { background-image: url("../img/bottom-middle/slider-bar-middle.png"); height: 9px; position: relative; overflow: hidden; top: 2px; }
.slider-big { background-image: url("../img/bottom-middle/slider.png"); width: 11px; height: 14px; position: relative; float: right; }

.slider-bar-l { background-image: url("../img/bottom-middle/slider-bar-l.png"); width: 23px; height: 13px; float: left; }
.slider-bar-r { background-image: url("../img/bottom-middle/slider-bar-r.png"); width: 23px; height: 13px; float: right; }
.slider-bar-middle { background-image: url("../img/bottom-middle/slider-bar-middle.png"); height: 8px; position: relative; top: 0px; width: 100%; }
.slider { background-image: url("../img/bottom-middle/slider.png"); width: 34px; height: 12px; position: absolute; left: 0px; top: -3px; cursor: pointer; }
