html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: white;
    font-family: 'Arial', serif;
}

.viewport {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 2500000;
    background: transparent;
    opacity: 1;
    z-index: 0;
}

.scrollable .scroll-bar.vertical {  
    z-index: 1;
}

.renderspace {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: white;
}

canvas {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    display: block;
    background-color: white;
    font-family: 'Arial', serif;
}

.game {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    /*cursor: url(../assets/sprites/amjad/abox/move.png), auto !important;*/
}

.minimap {
    position: absolute;
    clear: both;
    float: right;
    z-index: 1000;
}

.minimap .map-img img {
    border: 1px solid white;
    margin-top: 5px;
    margin-right: 5px;
    display: block;
    background: rgba(179, 211, 213, 0.44);
}

.minimap .map-img-viewport {
    border: 1px solid red;
    position: absolute;
}

.infotext {
    clear: left;
    float: inherit;
    display: table-row;
    z-index: 100;
    font-size: 0.8em;
    /*position: absolute;*/
    color: black;
    font-family: monospace;
}

.notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.inplace-notification { 
    font-size: 14px; 
    font-family: "serif"; 
    text-shadow: rgba(0, 0, 0, 0.45) 0 1px 0px; 
    line-height: 23px; 
    white-space: nowrap; 
    margin: 0 auto; 
    color: rgba(255, 255, 255, 0.9); 
    position: absolute; 
    top: 50px; left: 100px; 
    display: none; 
    text-align: center; 
    z-index: 10000000000; 
}

.border-active { border: 2px dashed white; }
.construction-built { -webkit-animation: cssAnimation 1s 6 linear; -moz-animation: cssAnimation 1s 6 linear; -o-animation: cssAnimation 1s 6 linear; }
@-webkit-keyframes cssAnimation { from { -webkit-transform: rotate(0deg) scale(1); }
to { -webkit-transform: rotate(0deg) scale(1.314); -moz-transform: rotate(0deg) scale(1.314); -o-transform: rotate(0deg) scale(1.314); }
@-moz-keyframes cssAnimation { from { -moz-transform: rotate(0deg) scale(1); }
@-o-keyframes cssAnimation { from { -o-transform: rotate(0deg) scale(1); }
